<div class="container">
  <div class="links">
    <a routerLink="/admin/manage">
      <span class="link-item apps">Apps</span>
    </a>
    <a routerLink="/admin/categories">
      <span class="link-item categories">Category</span>
    </a>
    <a routerLink="/admin/users">
      <span class="link-item users">Users</span>
    </a>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="uk-card uk-card-default uk-card-body uk-overflow-auto">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">App Icon</th>
              <th class="th-sm">App Name</th>
              <th class="th-sm">App Category</th>
              <!-- <th class="th-sm">App Description</th> -->
              <th class="th-sm">App Url</th>
              <th class="th-sm">App Status</th>
              <th class="th-sm">Date of Creation</th>
              <th class="th-sm">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let app of apps">
              <td>
                <img src="{{ app.icon }}" alt="{{ app.name }}" height="28">
                <!-- <span class="uk-badge" id="finance" style="background: linear-gradient(109.15deg, rgba(233, 46, 85, 0.85) 32.02%, rgba(241, 70, 97, 0.85) 57.93%, rgba(248, 90, 108, 0.85) 80.47%, rgba(254, 108, 117, 0.85) 100%) !important;">Finance</span> -->
              </td>
              <td [mdbTooltip] = "app.description"> {{app.name}} </td>
              <td> {{app.category}} </td>
              <!-- <td> {{app.description}} </td> -->
              <td> {{app.url}} </td>
              <td> {{app.status}} </td>
              <td> {{app.dateOfCreation}}</td>
              <td>
                <a mdbTooltip ="Delete this application" uk-icon="close" style="color:red" (click)="removeAppModal.show(); getId(app.id)"></a>
                <a  mdbTooltip ="Edit application, please upload the icon!" uk-icon="file-edit" (click)="editAppModal.show(); setFormData(app.name, app.category, app.description, app.url, app.icon, app.id)"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <app-error-notification></app-error-notification> -->
<app-loader [isLoading] = "loading"></app-loader>

<!--Remove App Modal-->
<div mdbModal #removeAppModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="removeAppModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Remove App</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this app from galaxy?</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="removeAppModal.hide()">I
          changed my mind</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="deleteApp(); removeAppModal.hide()"> Sure</i></button>
      </div>
    </div>
  </div>
</div>

<!--Edit App Modal-->
<div mdbModal #editAppModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editAppModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Edit Application.</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editAppForm">
          <!--App Name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-name">App Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="app-name" type="text"  pattern = "^[a-zA-Z 0-9]+" placeholder="" formControlName="appName">
            </div>
          </div>
          <span *ngIf="editAppForm.controls['appName'].touched && editAppForm.controls['appName'].invalid" [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Application
            name cannot be empty</span>
          <!--App Category-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-category">App Category</label>
            <div class="uk-form-controls">
              <select class="uk-select" (change)= 'change($event.target.value)' required formControlName="appCategory">
                <option>----Select----</option>
                <option *ngFor="let category of categories" >
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
          <!--App Url-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-category">App Url</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="app-category" type="text" pattern="https?://.+" placeholder="" formControlName="appUrl">
            </div>
          </div>
          <span *ngIf="editAppForm.controls['appUrl'].touched && editAppForm.controls['appUrl'].invalid" [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Enter a valid URL</span>
          <!--App Status-->
          <div class="uk-margin">
              <label class="uk-form-label" for="app-status">App Status</label>
              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" value='Active' name="appStatus" checked formControlName="appStatus">Active</label>
                <label><input class="uk-radio" type="radio" value='Inactive' name="appStatus" formControlName="appStatus">Inactive</label>
              </div>
            </div>
          <!--App Icon-->
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input type="file" id="appIcon" (change)="toBase64($event,'app')">
              <input class="uk-input uk-form-width-medium" required type="text" placeholder="Select file" disabled
                formControlName="appIcon">
            </div>
            <button class="uk-button uk-button-default upload">Upload Icon</button>
            <p>Please re-upload the app icon</p>
          </div>
          <!--App description-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-desc">App Description</label>
            <textarea class="uk-textarea" rows="2" placeholder="Describe the Application" formControlName="appDesc"></textarea>
          </div>
          <span *ngIf="editAppForm.controls['appDesc'].touched && editAppForm.controls['appDesc'].invalid" [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Description
            should be at least 10 characters long</span>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="editAppModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary"  class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="editApp(); editAppModal.hide()"> Proceed</i></button>
      </div>
    </div>
  </div>
</div>
