.content-wrapper{
    //background: #F1F1F2;
    .container {
        h3 {
            font-weight: bold;
            color: #442e5f;
            padding: 20px;
        }
        }
    }
.col-lg-5{
    //margin: auto !important;
}
.row-cards {
    padding: 20px;
    .a {
        background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        color: white;
    }
    .b {
        color: white;
        background: #1e3c72; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1e3c72, #2a5298); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1e3c72, #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .c {
        background: #642B73;  /* fallback for old browsers */   
        background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
    }
}
@media screen and (max-width: 560px){
    .a, .b , .c {
        margin: 10px;
    }
}
@media screen and (min-width: 760px){
    .a, .b , .c {
        margin: 10px;
    }
}