<div class="content-wrapper">
  <div class="container">
    <div class="page-header" style="margin: 0 20px;">
      <h3 class="page-title">Dashboard</h3>
    </div>
    <!-- <div class="row row-cards">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card a">
          <div class="card-body text-center">
            <div class="h5">Total No. of Applications </div>
            <div class="h1 font-weight-semibold">{{ appsCount }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card b">
          <div class="card-body text-center">
            <div class="h5">Total No. of Categories </div>
            <div class="h1 font-weight-semibold">{{ categoryCount }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card c">
          <div class="card-body text-center">
            <div class="h5">Total No. of Users </div>
            <div class="h1 font-weight-semibold">{{ usersCount}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr> -->
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <app-chart1></app-chart1>
      </div>
      <!-- <div class="col-lg-7 col-sm-12">
        <app-chart3></app-chart3>
      </div> -->
    </div>
    <hr>
    <!-- <div class="row">
      <div class="col-lg-12 col-sm-12">
        <app-chart3></app-chart3>
      </div>
    </div> -->

  </div>
</div>
