.content-wrapper{
    background: #F1F1F2;
    padding-bottom: 20px;
    height: auto;
}
.links {
    padding-top: 20px;
    padding-bottom: 12px;
    a {
        cursor: pointer;
        :hover {
            color: #44444B;
        }
        :active {
            color: rgb(33, 33, 42);
        }
    }
}
.link-item {
    margin: 10px 10px;
    color: #94999D;
    font-size: 0.85rem;
    font-weight: bold;
}
.col-lg-12.col-xs-12.col-sm-12 {
    height: 100vh;
}