<app-header></app-header>
<app-action-bar></app-action-bar>
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12">
        <router-outlet></router-outlet>   
      </div>
    </div>
  </div>
</div>