
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

#animated-area { 
  height: 100%;
  width: 100%;
  font-family: Rajdhani;
}


#animated-area {
  background: url('https://res.cloudinary.com/dhnvd24pz/image/upload/v1546943294/great-bear-1426516_1280.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  -webkit-animation: slide 20s linear infinite !important;

}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

div.message {
  color: white;
  //margin: 300px auto;
}
div h3 {
  margin-top: 200px;
}

div.taken {
    background-image: url(https://res.cloudinary.com/dhnvd24pz/image/upload/v1546944443/undraw_Taken_if77.svg);
    height: 90px;
    width: 45px;
  }