
<div class="text-center align-middle" id="animated-area">
  <div class="message">
    
    <div class="taken">
      <img src="../../assets/Images/undraw_Taken_if77.svg" alt="lost in space">
    </div>
    <h3>This page seems to have been abducted by aliens</h3>
    <p>go back to safety</p>
    <button routerLink='/home' class="ui button">
      Go Home
    </button>
      
    
  </div>
</div>
