<div class="card" *ngIf="!RecentVisitors">
  <div class="card-header">
    <h3 class="card-title">Recent Visitors</h3>
  </div>
  <div class="card-body o-auto">
    <ul class="list-unstyled list-separated">
      <li class="list-separated-item">
        <h6 class="text-danger">{{emptyMessage}}</h6>
      </li>
    </ul>
  </div>
</div>


<div class="card" *ngIf="RecentVisitors">
  <div class="card-header">
    <h3 class="card-title">Recent Visitors</h3>
  </div>
  <div class="card-body o-auto" style="height: 25rem">
    <ul class="list-unstyled list-separated">
      <li class="list-separated-item" *ngFor="let visitor of RecentVisitors">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="avatar brround avatar-md d-block" style="display: block;"> 
              <img class="avatar brround avatar-md d-block" src="{{'data:image/png;base64,' + visitor.VisitImage}}" alt="">
            </span>
          </div>
          <div class="col">
            <div>
              <a href="javascript:void(0)" class="text-inherit">{{ visitor.VisitorFullName}}</a>
            </div>
            <small class="d-block item-except text-sm text-muted h-1x">{{ visitor.Email}}</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>