/* For google chrome */

body{
    background:#1c1c1c;
  }
  
  #loader{
    width:100px;
    height:80px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-50px;
  }
  
  .inner{
    -webkit-animation:rotate 0.8s linear infinite;
    -moz-animation:rotate 0.8s linear infinite;
    animation:rotate 0.8s linear infinite;
    margin-top:20px;
    border-radius:50%;
    width:50px;
    height:50px;
    position:absolute;
  }
  
  .rotate-one{
    left:50%;
    margin-left:-25px;
    border-top:2px solid #1f6d8f;
  }
  
  .rotate-two{
    top:-10px;
    left:30px;
    border-left:2px solid #1f6d8f;
  }
  
  .rotate-three{
    top:-10px;
    right:30px;
    border-right:2px solid #1f6d8f;
  }
  
  @-webkit-keyframes rotate{
    0%{-webkit-transform:rotateZ(0deg);}
    100%{-webkit-transform:rotateZ(360deg);}
  }
  
  @-moz-keyframes rotate{
    0%{-moz-transform:rotateZ(0deg);}
    100%{-moz-transform:rotateZ(360deg);}
  }
  
  @keyframes rotate{
    0%{transform:rotateZ(0deg);}
    100%{transform:rotateZ(360deg);}
  }