<div class="my-3 my-md-5">

    <div class="container">
        <div class="row ">
            <div class="col-md-6 block features">
                <div class="card feature">
                    <a [routerLink]="['/TruVisit/receptionist/signin']">
                        <div class="card-body text-center">
                            <div class="fa-stack fa-lg fa-1x border bg-primary mb-3">
                                <i class="fa fa-user-plus fa-stack-1x text-white"></i>
                            </div>
                            <h4 class="counter">Sign In</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 block features">
                <div class="card feature">
                    <a [routerLink]="['/TruVisit/receptionist/signout']">
                        <div class="card-body text-center">
                            <div class="fa-stack fa-lg fa-1x border bg-darkpink mb-3">
                                <i class="fa fa-user-times fa-stack-1x text-white"></i>
                            </div>
                            <h4 class="counter"> Sign Out</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 block features">
                <div class="card feature">
                    <a [routerLink]="['/TruVisit/receptionist/appointments']">
                        <div class="card-body text-center">
                            <div class="fa-stack fa-lg fa-1x border bg-darkpink mb-3">
                                <i class="fa fa-calendar-check-o fa-stack-1x text-white"></i>
                            </div>
                            <h4 class="counter">Appointments</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 block features">
                <div class="card feature">
                    <a [routerLink]="['/TruVisit/receptionist/statistics']">
                        <div class="card-body text-center">
                            <div class="fa-stack fa-lg fa-1x border bg-primary mb-3">
                                <i class="fa fa-line-chart fa-stack-1x text-white"></i>
                            </div>
                            <h4 class="counter"> Statistics</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 block features">
                <div class="card feature">
                    <a [routerLink]="['/TruVisit/receptionist/visitorlog']">
                        <div class="card-body text-center">
                            <div class="fa-stack fa-lg fa-1x border bg-darkpink mb-3">
                                <i class="fa fa-address-book fa-stack-1x text-white"></i>
                            </div>
                            <h4 class="counter"> Visit Log</h4>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>

</div>