.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
}
.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 10px 40px 0 rgba(18, 106, 211, .07), 0 2px 9px 0 rgba(18, 106, 211, .06);
    border-radius: 7px;
    transition: box-shadow 0.9s ease-in-out;
}
.card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
} 
.card-body> :last-child {
    margin-bottom: 0;
}
.features {
    overflow: hidden;
}
a {
    color: #3F51B5;
    text-decoration: none;
    background-color: transparent;
}
.feature .border {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 2em;
    vertical-align: middle;
    padding-top: 8px;
    border-radius: 50%;
    color: #fff;
}
.feature .fa-lg .fa-stack-1x, .facility .fa-lg .fa-stack-1x {
    font-size: 25px;
}
.bg-primary {
    background-color: #736cc7 !important;
}
.bg-darkpink {
    background-color: #ff5c75 !important;
    color: #fff !important;
}
.fa-stack-1x {
    line-height: inherit !important;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.text-white {
    color: #fff !important;
}

@media print {
    .card-body {
        padding: 0;
    }
}
