<header class="header">
    <div class="logo">
        <img src="./assets/Images/galaxylogo.svg" alt="Galaxy" class="logo">
      </div>
  <div class="profile">
    <div class="profile-name" style="float: left;">
      <small *ngIf="staffName" class="text-white" style="font-size: 0.9rem;
      margin-right: 10px;">{{greeting}}, {{ staffName }} </small>
    </div>
    <img src="./assets/Images/menu2.svg" uk-toggle="target: #offcanvas-flip" alt="" class="icon">
  </div>
  
  <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true;" style="font-family: 'Space Mono', monospace !important;">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <span>
        <img id="introImage" [src]="staffAvatar" alt="">
        <h2 id = 'acronym' >{{ staffAcronym }}</h2>
        <span id="intro" style="font-size: 0.8rem;color: rgba(41, 55, 89, 1);">{{staffName}}</span>
      </span>
      <p style="font-size: 0.8rem;color: rgba(41, 55, 89, 1); margin-top: 1rem;">{{staffEmail}}</p>
      <hr>
      <span id="telescope">
        <a id="link" href="http://hubblespacetelescope.epizy.com" target="_blank">
          <p>The Telescope</p>
        </a>
      </span>
      <div *ngIf="isSuperAdmin" >
        <a routerLink="/admin">
         <p id='admin'>Goto Admin</p>
        </a>
      </div>
    </div>
  </div>

  <!-- <form>
    <div class="ui labeled input search">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="search" id='serachApps' placeholder="Search for Apps..." aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" style="border-radius: 0px">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </form> -->
  <!-- </ng-template> -->
  <div class="quote">
    <h5 class="text-center">
      A Galaxy of dreams, fueled by innovation and creativity
    </h5>
  </div>
</header>
