.header {
  height: 25%;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  font-family: 'Lato', sans-serif;
  background: 
    linear-gradient(270deg, 
                    rgba(54, 33, 85, 0.95) 50%, 
                    rgba(66, 38, 91, 0.95) 70.35%, 
                    rgba(76, 41, 96, 0.95) 90%, 
                    rgba(92, 47, 104, 0.95) 99.44%, 
                    rgba(92, 47, 104, 0.95) 100%),
    url('../../../../assets/Images/header.svg');
    // background-image: url();
  border-radius: 1px;
  background-position: center;
  animation: slide 20s radial infinite;
}
.logo {
  margin-left: 40px;
  margin-top: 10px;
}
.uk-open>.uk-offcanvas-bar {
  width: 300px !important;
  padding: 20px !important;
}
.uk-offcanvas-bar {
  background: #F1F1F2 !important;
}
.icon {
  margin: 10px;
  cursor: pointer;
}
button.uk-offcanvas-close.uk-close.uk-icon {
  color: #44444B;
  cursor: pointer;
}
hr {
  background-color: #3621558c !important;
}
#intro {
  color: rgba(54, 33, 85, 1);
  margin: 20px 10px 10px 0px !important;
}
#acronym {
  margin: 0px !important;
  width: 40%;
  margin: 0px;
  color: rgba(41, 55, 89, 1);
  font-weight: bold;
  font-size: 2.5rem !important;
} 
#telescope {
  p {
    margin-top: 50px;
  }
  img {
    height: 20px !important;
  }
  a {
    color: rgba(41, 55, 89, 1);
    &:hover {
      font-weight: bold;
      text-decoration: none;
      outline: none;
    }
  }
}
#admin {
  color: rgba(41, 55, 89, 1);
  text-decoration: none;    border: 1px solid #293759;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 0.6px;
  margin-top: 50px;
  &:hover {
    font-weight: bold;

  }
}

@keyframes slide {
  from { background-position: 0 0; }
    to { background-position: -400px 0; }
	// 0% {
	// 	transform: translate(0, 0);
	// 		opacity: 1;
	// }
	// 50% {
	// 	transform: translate(-10px, -4px);
	// }
	// 100% {
	// 	transform: translate(30px, 5px);
	// 	opacity: 0.9;
		
	// }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
#searchApps {
  border-radius: 0 !important;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-placeholder{
  color:red !important;
}
::ng-deep .mat-focused .mat-form-field-placeholder{

  color:yellowgreen !important;
}

.profile{
  overflow: auto;
  right: 2%;
  position: absolute;
  top: 5%;
}

.profile-img{
  float: left;
  margin-right: 4px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.profile-name {
  float: right;
  margin-left: 4px;
  margin-top: 6px;
}
.login, .logout{
  cursor: pointer;
  color: white;
}


form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100% !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.search {
  width: 50% !important;
  margin-top: 20px !important;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  font-size: .8rem;
  margin: 5px;
}
.quote {
  width: 70%;
  display: flex;
  justify-content: center;
  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Space Mono', monospace !important;
    color: rgba(236, 233, 230, 1);
    font-size: 1.2rem;
  }
}
  
  
@media screen and  (max-width: 500px){

  .header {
      height: 20%;
  }

  form {
    margin-top: 5%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    // margin: auto;
    width: 100% !important;
  }
  
}