.uk-card-body {
    padding: 10px 30px 20px 30px!important;
    border-radius: 0.2rem;
    p {
        color: rgba(68, 68, 75, 0.94);
        font-weight: bold;
        font-size: 0.9rem;
    }
}
.links {
    padding-top: 20px;
    padding-bottom: 12px;
    a {
        :hover {
            color: #44444B;
        }
        .categories {
            color: #402c5e;
            cursor: pointer;
           
        }
    }
    
}
.link-item {
    margin: 10px 10px;
    color: #94999D;
    font-size: 0.85rem;
    font-weight: bold;
}
// table td {
//     font-weight: bold !important;
// }
.table {
    border: 1px solid lightgrey !important;
    margin-top: 0 !important;
    td {
        padding: 10px 12px !important;
        // font-weight: bold !important;
        width: 172px !important;
        .uk-badge {
            font-size: 0.75rem !important;
            border-radius: 3px !important;
            padding: 0 15px !important;            
            }
            .uk-icon {
                padding-right: 15px;
            }
    }
    th {
        //font-size: 0.72rem !important;
        text-transform: capitalize;
        font-weight: bold;
    }
}   
.table-functions{
    display: flex;
    flex-direction: row;
    .table-functions1{
        flex-direction: row;
        span.show {
            font-size: 0.8rem;
            color: #556080 !important;
            padding: 10px;
        }
        span.entries {
            font-size: 0.8rem;
            color: #556080 !important;
            padding: 10px;
        }
        .select {
            font-size: 0.9rem;
            padding: 5px;
            border-radius: 2px;
            border: 1px solid rgba(118, 132, 163, 0.71);
        }
    }
    span.print{
        padding: 0 10px;
        color: #556080;
        font-weight: bold;
    }
    span.pdf {
        color: #CC4B4C;
    }
    .table-functions2 {
        
        .search {
            font-size: 0.95rem;
            padding: 2px 30px;
            border: 1px solid rgba(118, 132, 163, 0.71);
            border-radius: 2px;
            width: 95%;
        }
    }
     
}

.modal-body {
    .uk-form-label{
        font-weight: bold;
    }
    #category-name {
        border-radius: 2px;
        height: 35px;
    }
    button.uk-button.uk-button-default.upload {
        background: linear-gradient(270deg, rgba(54, 33, 85, 0.95) 50%, rgba(66, 38, 91, 0.95) 70.35%, rgba(76, 41, 96, 0.95) 90%, rgba(92, 47, 104, 0.95) 99.44%, rgba(92, 47, 104, 0.95) 100%);
        color: white;
        text-transform: capitalize;
    }    
}
.modal-footer {
    button.relative.waves-light.goOn{
        background: linear-gradient(270deg, rgba(54, 33, 85, 0.95) 50%, rgba(66, 38, 91, 0.95) 70.35%, rgba(76, 41, 96, 0.95) 90%, rgba(92, 47, 104, 0.95) 99.44%, rgba(92, 47, 104, 0.95) 100%) !important;
        text-transform: capitalize;
        font-size: 0.7rem;
    }
    button.waves-light.cancel {
        font-size: 0.7rem;
        border: 1px solid rgba(54, 33, 85, 0.95) !important;
        background: white !important;
        box-shadow: none !important;
        color: rgba(54, 33, 85, 0.95) !important;
        font-weight: bold;
    }
}
tr.odd {
    background-color: #5f5fc917 !important;
}
@media (max-width: 760px){
   display: block; 
}