<div class="container">
  <div class="links">
    <a routerLink="/admin/manage">
      <span class="link-item apps">Apps</span>
    </a>
    <a routerLink="/admin/categories">
      <span class="link-item categories">Category</span>
    </a>
    <a routerLink="/admin/users">
      <span class="link-item users">Users</span>
    </a>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="uk-card uk-card-default uk-card-body uk-overflow-auto">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Category Name</th>
              <th class="th-sm">Category Description</th>
              <th class="th-sm">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td> {{category.name}} </td>
              <td> {{category.description}} </td>
              <td>
                <a mdbTooltip="Delete this category" uk-icon="close" id="{{category.id}}" style="color:red" (click)="deleteCategoryModal.show(); getId(category.id)"></a>
                <a mdbTooltip="Edit this category" uk-icon="file-edit" (click)="editCatModal.show(); setFormData(category.name, category.description, category.id)"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-loader [isLoading] = "loading"></app-loader>

<!--Remove Category Modal-->
<div mdbModal #deleteCategoryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteCategoryModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Remove Category</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this category?</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="deleteCategoryModal.hide()">I
          changed my mind</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="deleteCategory(); deleteCategoryModal.hide()"> Sure</i></button>
      </div>
    </div>
  </div>
</div>

<!--Edit Category Modal-->
<div mdbModal #editCatModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editCatModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Edit Category</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editCategoryForm">
          <div class="uk-margin">
            <label class="uk-form-label" for="category-name">Category Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="category-name" type="text" placeholder="" formControlName="catName">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="category-desc">Category Description</label>
            <textarea class="uk-textarea" rows="5" placeholder="Describe the Category" formControlName="catDesc"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="editCatModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="editCategory(); editCatModal.hide()"> Proceed</i></button>
      </div>
    </div>
  </div>
</div>
