<div class="container">
  <mat-card>
    <mat-card-subtitle> Manage VMS Users </mat-card-subtitle>
    <mat-card-content>
      <form class="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Staff Id" value="" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="Role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-button type="submit">Assign role</button>
    </mat-card-content>
  </mat-card>
</div>
