<div class='container' *ngIf = 'noAdmin; else noAdmin'>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Staff Id Column -->
        <ng-container matColumnDef="staffId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff I.D </th>
          <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
        </ng-container>
      
        <!-- Staff Email Column -->
        <ng-container matColumnDef="staffEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.staffEmail}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        showFirstLastButtons
      ></mat-paginator>
</div>
<ng-template #noAdmin>
  <div class='container noAdmin' >
    <p class='text-center'> No admins yet, kindly contact galaxy admin to provision a staff as admin</p>
  </div>
</ng-template>

<app-loader [isLoading] = "loading"></app-loader>
