
<div class="page" id="top">
  <div class="page-main">

    <div class="my-3 my-md-5"  style="background-color: #EFF5FF; margin-top: 0px; margin-bottom: 0px">
      <div class="container">

        <div class="page-header">
          <h4 class="page-title">Dashboard</h4>
        </div>

        <div class="row row-cards">

          <!-- total visitors card  -->

          <div class="col-lg-4 col-sm-6">
            <app-receptionist-total-visitors></app-receptionist-total-visitors>
          </div>

          <!-- Signed in visitors card -->

          <div class="col-lg-4 col-sm-6">
            <app-receptionist-signed-in></app-receptionist-signed-in>
          </div>

          <!-- Visitors on appointment card -->

          <div class="col-lg-4 col-sm-6">
            <app-receptionist-visitors-on-appointment></app-receptionist-visitors-on-appointment>
          </div>

        </div>

          <!-- end of cards  -->

          <!-- start of charts  -->

        <div class="row">

          <div class="col-lg-6">
            <app-receptionist-most-visited-employee></app-receptionist-most-visited-employee>
          </div>	

          <div class=" col-lg-6">
            <app-receptionist-most-visited-month></app-receptionist-most-visited-month>
          </div>

          <!-- <div class="col-md-12">
            <app-receptionist-most-visited-block></app-receptionist-most-visited-block>
          </div> -->

        </div>

        <div class="row row-cards row-deck">

          <!-- recent visitors list -->
          <div class="col-md-12 col-lg-12">
            <app-receptionist-recent-visitors></app-receptionist-recent-visitors>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Back to top -->
<a href="" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>