.receptionist-img {
    height: 200px;
    background: url('../../../../../../../../assets/Images/receptionistt.jpeg');
    background-size: cover;
    background-position: center;
}

.receptionist-img {
    // color: #000000;
    // width: 800px;
    // height: 200px;
}

// .receptionist-img:after {
//     background: url('../../../../../../../../assets/Images/receptionistt.jpeg');
//     background-size: cover;
//     background-position: center;
//     content:'';
//     position:absolute;
//     top:0;
//     left:0;
//     width:inherit;
//     height:inherit;
//     opacity:0.9;
// }

.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
}
.card .card {
    box-shadow: 0px 0px 10px rgba(69, 101, 173, 0.1);
}

@media print {
    .card {
        box-shadow: none;
        border: none;
    }
}