<div class="receptionist-img">
  <div class="card-body p-8 align-items-center text-center">
    <h2 class="text-white display-4 font-weight-semibold"></h2>
    <p class="text-white"></p>
  </div>
</div>

<!-- <div class="uk-inline">
  <img src="../../../../../../../../assets/Images/receptionistt.jpeg" alt="">
  <div class="uk-overlay-primary uk-position-cover"></div>
  <div class="uk-overlay uk-position-center uk-light">
      <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div> -->
