<div class='container' *ngIf = 'noReceptionist; else noReceptionist'>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="staffId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff I.D </th>
          <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="staffEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.staffEmail}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
          <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
</div>
<ng-template #noReceptionist>
  <div class='container noAdmin' >
    <p class='text-center'> No receptionistd yet, kindly contact galaxy admin to provision a staff as a receptionist</p>
  </div>
</ng-template>

<app-loader [isLoading] = "loading"></app-loader>