<div class="container mt-5">
    <div class='card'>
        <form [formGroup]="signInForm">
            <mat-horizontal-stepper formArrayName="formArray" linear>
                <mat-step formGroupName="0" [stepControl]="" label="Appointment">
                    <div class="col-lg-12 col-md-6 col-sm-12  mt-3" style="text-align: center">
                        <h2>Do you have an appointment?</h2>
                        <div class="row mt-5">
                            <div class="col-sm-6">
                                <button (click)="toggleAppointmentButton('true')" mat-fab matStepperNext type="button" color="primary" formControlName="hasAppointment"><i class="fa fa-check" style="border-color: white;"></i></button>
                                <h3>Yes</h3>
                            </div>
                            <div class="col-sm-6">
                                <button (click)="toggleAppointmentButton('false')" matStepperNext type="button" mat-fab color="primary" formControlName="hasAppointment"><i class="fa fa-times" style="border-color: white;"></i></button>
                                <h3>No</h3>
                            </div>
                        </div>
                    </div>

                </mat-step>
                <mat-step formGroupName="1" [stepControl]="" label="Personal Details">
                    <div class='row'>
                        <div class='col-lg-12 col-sm-12'>
                            <div class="card" style="margin-top:5px">

                                <div class="offset">
                                    <div class="card-body">
                                        <div class="row">
                                            <mat-form-field [ngClass]="{'form-group col-6': toggleAppointment,'form-group col-12': !toggleAppointment}">
                                                <input class="sw-field form-control-center" type="text" placeholder="Choose a host name" aria-label="Movie List" matInput formControlName="hostId" [matAutocomplete]="hostName">
                                                <mat-autocomplete #hostName="matAutocomplete">
                                                    <mat-option (click)="onSelect(user)" *ngFor="let user of filteredList | async" [value]="user.staffName">
                                                        {{user?.staffName}}({{user?.branchName}})
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                            <div *ngIf="toggleAppointment" class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <mat-select placeholder="Appointments" formControlName="appointmentId">
                                                        <mat-option (click)="getSelectedOptionValue3()" selected *ngFor="let appointment of UserPendingAppointment" [value]="appointment.AppointmentId">{{appointment.VisitorFullName}}({{appointment.VisitorPhoneNumber}})</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <input matInput placeholder="Visitor's phone number" pattern='([0-9]{11})+' formControlName="visitorNumber" [ngClass]="{ 'is-invalid': vn.touched && vn.errors }">
                                                    <mat-error *ngIf="vn?.errors" class="invalid-feedback">
                                                        <mat-error *ngIf="vn.errors">Phone number is required and must be 11 digts</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <input matInput type="text" formControlName="visitorFullName" placeholder="Visitor's full name" [ngClass]="{ 'is-invalid': vf.touched && vf.errors }">
                                                    <mat-error *ngIf="vf?.errors" class="invalid-feedback">
                                                        <mat-error *ngIf='vf.errors.required'>Visitor full name is required</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <input matInput type="text" formControlName="visitorAddress" placeholder="Visitor's adress/company" [ngClass]="{ 'is-invalid': va.touched && va.errors }">
                                                    <mat-error *ngIf="va?.errors" class="invalid-feedback">
                                                        <mat-error *ngIf="va.errors.required">Visitor address/company is required</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <input matInput type="email" pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' formControlName="visitorEmail" placeholder="Visitor's email(Optional)"
                                                        [ngClass]="{ 'is-invalid': ve.touched && ve.errors }">
                                                    <mat-error *ngIf="ve?.errors" class="invalid-feedback">
                                                        <mat-error *ngIf="ve.errors">Please type a valid email address</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <mat-select formControlName="purpose" placeholder="Select purpose of visit" [ngClass]="{ 'is-invalid': p.touched && p.errors }">
                                                        <mat-option value="1"> Personal </mat-option>
                                                        <mat-option value="2"> Official </mat-option>
                                                        <mat-option value="3"> Other </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="p?.errors" class="invalid-feedback">
                                                        <mat-error *ngIf="p.errors.required">Purpose is required</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group col-6">
                                                <mat-form-field style="width: 100%">
                                                    <mat-select formControlName="pointOfEntry" placeholder="Select a point of entry" [ngClass]="{ 'is-invalid': pe.touched && pe.errors }">
                                                        <mat-option value="Block A"> Block A </mat-option>
                                                        <mat-option value="Block B"> Block B </mat-option>
                                                        <mat-option value="Block C"> Block C </mat-option>
                                                        <mat-option value="Fidelity Place"> FIDELITY PLACE </mat-option>
                                                        <mat-option value="HR'S Office"> HR'S OFFICE </mat-option>
                                                        <mat-option value="AWOLOWO RD"> AWOLOWO RD </mat-option>
                                                        <mat-option value="ADEYEMO ALAKIJA"> ADEYEMO ALAKIJA </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="pe?.errors" class="invalid-feedback">
                                                        <mat-error *ngIf="pe.errors.required">Point of entry is required</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <mat-form-field style="width: 100%">
                                                <input matInput type="text" id="" formControlName="tagNo" placeholder="Visitor's tag no" [ngClass]="{ 'is-invalid': tn.touched && tn.errors }">
                                                <mat-error *ngIf="tn?.errors" class="invalid-feedback">
                                                    <mat-error *ngIf="tn.errors.required">Tag number is required</mat-error>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="float-left" mat-button matStepperPrevious type="button">Back</button>
                        <button class="float-right" mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="2" [stepControl]="" label="Device">

                    <div id="devices" class="col-lg-12 col-md-6 col-sm-12 mt-3" style="text-align: center;">
                        <h2>Do you have a Device?</h2>

                        <div class="row mt-5">
                            <div class="col-sm-6">
                                <button (click)="setValidatorAndField('yes')" mat-fab color="primary" formControlName="hasDevice"><i class="fa fa-check"></i></button>
                                <h3>Yes</h3>
                            </div>
                            <div class="col-sm-6">
                                <button (click)="setValidatorAndField('no')" mat-fab color="primary" matStepperNext formControlName="hasDevice"><i class="fa fa-times"></i></button>
                                <h3>No</h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 col-lg-12 col-md-6 col-sm-12 ">

                        <div class="card" *ngIf="hasDevice">

                            <div class="offset">
                                <div class="card-body">


                                    <div class="form-group">
                                        <mat-form-field style="width: 100%">
                                            <mat-select placeholder="Select your type of device" formControlName="deviceType" [ngClass]="{ 'is-invalid': dt.touched && dt.errors }">
                                                <mat-option (click)="getSelectedOptionValue('Laptop')" value="Laptop"> Laptop </mat-option>
                                                <mat-option (click)="getSelectedOptionValue('Tablet')" value="Tablet"> Tablet </mat-option>
                                                <mat-option (click)="getSelectedOptionValue('Other')" value="Other"> Other </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="dt?.errors" class="invalid-feedback">
                                                <mat-error *ngIf="dt.errors.required">Device type is required</mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="hasDeviceDetails">
                                        <div class="form-group">
                                            <mat-form-field style="width: 100%">
                                                <mat-select placeholder="Select the color of your device" formControlName="deviceColor" [ngClass]="{ 'is-invalid': dc.touched && dc.errors }">
                                                    <mat-option value="Black"> Black </mat-option>
                                                    <mat-option value="Grey"> Grey </mat-option>
                                                    <mat-option value="White"> White </mat-option>
                                                    <mat-option value="Gold"> Gold </mat-option>
                                                    <mat-option value="Blue"> Blue </mat-option>
                                                    <mat-option value="Other"> Other </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="dc?.errors" class="invalid-feedback">
                                                    <mat-error *ngIf="dc.errors.required">Device color is required</mat-error>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field style="width: 100%">
                                                <input matInput type="text" id="deviceSerialNo" placeholder="Device Serial No." formControlName="deviceSerialNo" [ngClass]="{ 'is-invalid': ds.touched && ds.errors }">
                                                <mat-error *ngIf="ds?.errors" class="invalid-feedback">
                                                    <mat-error *ngIf="ds.errors.required">Device serial number is required</mat-error>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div *ngIf="!hasDeviceDetails" class="form-group">

                                        <mat-form-field style="width: 100%">
                                            <textarea matInput placeholder="Describe the device" formControlName="deviceDescription" [ngClass]="{ 'is-invalid': dd.touched && dd.errors }">
                                                </textarea>
                                            <mat-error *ngIf="dd?.errors" class="invalid-feedback">
                                                <mat-error *ngIf="dd.errors.required">Please descibe the device</mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>


                                </div>


                            </div>

                        </div>
                    </div>

                    <div>
                        <button class="float-left" mat-button matStepperPrevious type="button">Back</button>
                        <button class="float-right" mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="4" [stepControl]="" label="Capture Fingerprint">
                    <!-- <div class="offset-4 mt-5 col-6"> -->
                    <div id="Container">
                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">

                                <ul class="nav navbar-nav">
                                    <li id="Reader" class="active">
                                        <a style="color: white;" onclick="toggle_visibility(['content-reader','content-capture']);setActive('Reader','Capture')">
                                        Reader</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav">
                                    <li id="Capture" class="">
                                        <a style="color: white;" onclick="toggle_visibility(['content-capture','content-reader']);setActive('Capture','Reader')">
                                        Capture</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="Scores">
                            <h5>Scan Quality : <input type="text" id="qualityInputBox" size="20" style="background-color:#DCDCDC;text-align:center;"></h5>

                        </div>
                        <div id="content-capture" style="display : none;">
                            <div id="status"></div>
                            <div id="imagediv"></div>
                            <div id="contentButtons">
                                <table width=70% align="center">
                                    <tr>
                                        <td>
                                            <input type="button" class="btn btn-primary" id="clearButton" value="Clear" onclick="Javascript:onClear()">
                                        </td>
                                        <td hidden data-toggle="tooltip" title="Will work with the .png format.">
                                            <input type="button" class="btn btn-primary" id="save" value="Save">
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-primary" id="start" value="Start" onclick="Javascript:onStart()">
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-primary" id="stop" value="Stop" onclick="Javascript:onStop()">
                                        </td>
                                        <td hidden>
                                            <input type="button" class="btn btn-primary" id="info" value="Info" onclick="Javascript:onGetInfo()">
                                        </td>
                                </table>
                            </div>

                            <div id="imageGallery">
                            </div>
                            <div id="deviceInfo">
                            </div>

                            <div hidden id="saveAndFormats">

                                <form name="myForm" style="border : solid grey;padding:5px;">
                                    <b>Acquire Formats :</b><br>
                                    <table>
                                        <tr data-toggle="tooltip" title="Will save data to a .raw file.">
                                            <td>
                                                <input type="checkbox" name="Raw" value="1" onclick="checkOnly(this)"> RAW <br>
                                            </td>
                                        </tr>
                                        <tr data-toggle="tooltip" title="Will save data to a Intermediate file">
                                            <td>
                                                <input type="checkbox" name="Intermediate" value="2" onclick="checkOnly(this)"> Feature Set<br>
                                            </td>
                                        </tr>
                                        <tr data-toggle="tooltip" title="Will save data to a .wsq file.">
                                            <td>
                                                <input type="checkbox" name="Compressed" value="3" onclick="checkOnly(this)"> WSQ<br>
                                            </td>
                                        </tr>
                                        <tr data-toggle="tooltip" title="Will save data to a .png file.">
                                            <td>
                                                <input type="checkbox" name="PngImage" checked="true" value="4" onclick="checkOnly(this)"> PNG
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                                <br>
                                <input type="button" class="btn btn-primary" id="saveImagePng" value="Export" onclick="Javascript:onImageDownload()">
                            </div>

                        </div>

                        <div id="content-reader">
                            <h4>Select Reader :</h4>
                            <select class="form-control" id="readersDropDown" onchange="selectChangeEvent()">
                                </select>
                            <div id="readerDivButtons">
                                <table width=70% align="center">
                                    <tr>
                                        <td>
                                            <input type="button" class="btn btn-primary" id="refreshList" value="Refresh List" onclick="Javascript:readersDropDownPopulate(false)">
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-primary" id="capabilities" value="Capabilities" data-toggle="modal" data-target="#myModal" onclick="Javascript:populatePopUpModal()">
                                        </td>
                                    </tr>
                                </table>

                                <!-- Modal - Pop Up window content-->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content -->
                                        <div class="modal-content" id="modalContent">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Reader Information</h4>
                                            </div>
                                            <div class="modal-body" id="ReaderInformationFromDropDown">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- </div> -->
                    <div>
                        <button class="float-left" mat-button matStepperPrevious type="button">Back</button>
                        <button class="float-right" mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="3" [stepControl]="" label="Capture Image">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="app" class="mt-3" style="text-align: center; color: #2c3e50;">
                                <div>
                                    <video #video id="video" width="640" height="480" autoplay style="background-color: #000000;"></video>
                                </div>
                                <div>
                                    <button id="snap" mat-flat-button color='primary' (click)="capture()">Snap Photo</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <canvas class="mt-3" #canvas id="canvas" width="640" height="480">                    
                                        </canvas>
                        </div>
                    </div>
                    <div>
                        <button class="float-left" mat-button matStepperPrevious type="button">Back</button>
                        <button [disabled]="!signInForm.valid || buttonDisable" class="float-right" mat-button (click)="postSignin()" type="button">Submit</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </div>
</div>
<app-loader [isLoading]='loading'></app-loader>