<div class="uk-card uk-card-default uk-card-body">
  <p>Busiest App</p>
  <!-- <canvas id="line-chart">{{ chart }}</canvas> -->
  <!-- <div id="chart2"></div> -->
  <div style="display: block">
      <canvas mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
    </div>
