/* Structure */
table {
    width: 100%;
  }
  

/* filter controls */
.search-div{
  margin: 10px;
    }
    .search-form-field{
        width: 60%;
        margin-left: 10px;
        padding: 5px 5px;
        background-color: #f5f5f5;
        border-radius: 5px;
        }
        .search-form-field div.mat-form-field-underline {
            display: none;
        }
        .search-form-field div.mat-form-field-infix{
            border-top: 0px;
        }
        .search-form-field div.mat-form-field-wrapper{
          padding-bottom: 0px;
      }
      .search-form-field div.mat-form-field-suffix button{
          height: 32px;
          width: 32px;
      }

      .hide{
        display: none;
    }
.badge {
  margin-left: 5px !important;
  padding: 8px !important;
}
.mat-datepicker {
  width: 20vh !important;
  height: 20vh !important;
}
::ng-deep .cdk-overlay-container{
  z-index:2000;
}

.example-full-width {
    width: 100%;
  }
