<div class="container" id="container">
  <div class="page-header" style="margin-top: 10px;">
    <h4 class="page-title">Manage Appointments</h4>
  </div>
  <div class="search-div">
    <button mat-raised-button (click)="initMatTable()">
      <mat-icon>refresh</mat-icon>Refresh
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8" style="margin-bottom: 50px">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id" hidden>
        <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="visitor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Visitor</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.visitorName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.company}}</mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="arrival">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Arrival</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arrival}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list *ngIf='element.status == "Canceled"'>
            <!-- <mat-chip color="danger" selected>Canceled</mat-chip> -->
            <span class="badge badge-pill badge-danger">Canceled</span>
          </mat-chip-list>
          <mat-chip-list *ngIf='element.status == "Visited"'>
            <span class="badge badge-pill badge-success">Visited</span>
            <!-- <mat-chip color="success" selected>Visited</mat-chip> -->
          </mat-chip-list>
          <mat-chip-list *ngIf='element.status == "Pending"'>
            <!-- <mat-chip color="info" selected>Pending</mat-chip> -->
            <span class="badge badge-pill badge-info">Pending</span>
          </mat-chip-list>
          <mat-chip-list *ngIf='element.status == "Signed In"'>
            <!-- <mat-chip color="primary" selected>Signed</mat-chip> -->
            <span class="badge badge-pill badge-primary">Pending</span>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="purpose">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list *ngIf='element.purpose == 1'>
            <!-- <mat-chip color="accent" selected>Personal</mat-chip> -->
            <span class="badge badge-pill badge-success">Personal</span>
          </mat-chip-list>
          <mat-chip-list *ngIf='element.purpose == 2'>
            <!-- <mat-chip color="primary" selected>Official</mat-chip> -->
            <span class="badge badge-pill badge-primary">Official</span>
          </mat-chip-list>
          <mat-chip-list *ngIf='element.purpose == 3'>
            <!-- <mat-chip color="info" selected>Other</mat-chip> -->
            <span class="badge badge-pill badge-secondary">Other</span>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="place">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Place</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.place}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon title="No action" *ngIf="row.status != 'Pending'" color="info">lock</mat-icon>
          <button mat-icon-button color="primary" (click)="editAppointmentModal.show(); setFormData(row)" *ngIf="row.status == 'Pending'">
            <mat-icon title="Edit Appointment">launch</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelAppointmentModal.show(); setCancel(row.id)" *ngIf="row.status == 'Pending'">
            <mat-icon title="Cancel Appointment">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!( dataSource!=null &&  dataSource.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>


<!-- Edit Appointment Modal -->
<div mdbModal #editAppointmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editAppointmentModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Edit Appointment</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editAppointmentForm">

          <!--Visitor Name-->
          <div class="uk-margin">
            <mat-form-field class="example-full-width">
              <input matInput class="example-full-width" id="visitor-name" type="text" placeholder="Firstname Lastname"
                required formControlName="visitorName" [ngClass]="{'formInvalid':editAppointmentForm.controls['visitorName'].invalid && editAppointmentForm.controls['visitorName'].touched }">
            </mat-form-field>
            <span *ngIf="editAppointmentForm.controls['visitorName'].touched && editAppointmentForm.controls['visitorName'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Visitor's name cannot be empty</span>
          </div>

          <!--Company-->
          <div class="uk-margin">
            <mat-form-field>
              <input matInput class="example-full-width" id="visitor-company" type="text" placeholder="Visitor's company"
                required formControlName="company" [ngClass]="{'formInvalid':editAppointmentForm.controls['company'].invalid && editAppointmentForm.controls['company'].touched }">
              <span *ngIf="editAppointmentForm.controls['company'].touched && editAppointmentForm.controls['company'].invalid"
                [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Visitor's company cannot be empty</span>
            </mat-form-field>
          </div>

          <!--Email-->
          <!-- <div class="uk-margin">
            <mat-form-field>
              <input matInput class="example-full-width" id="visitor-email" type="text" placeholder="email" required
                formControlName="email" [ngClass]="{'formInvalid':editAppointmentForm.controls['email'].invalid && editAppointmentForm.controls['email'].touched }">
            </mat-form-field>
            <span *ngIf="editAppointmentForm.controls['email'].touched && editAppointmentForm.controls['email'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please enter a valid email address</span>
          </div> -->

          <!--Phone-->
          <div class="uk-margin">
            <mat-form-field>
              <input matInput class="example-full-width" id="visitor-phone" type="tel" placeholder="Phone number"
                formControlName="phoneNumber" [ngClass]="{'formInvalid':editAppointmentForm.controls['phoneNumber'].invalid && editAppointmentForm.controls['phoneNumber'].touched }">
            </mat-form-field>
            <span *ngIf="editAppointmentForm.controls['phoneNumber'].touched && editAppointmentForm.controls['phoneNumber'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please enter a valid phone number</span>
          </div>

          <!--Arrival Date-->
          <div class="uk-margin">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="arrivalDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi style="width: 20vh !important; height: 20vh !important;"></mat-datepicker>
            </mat-form-field>
            <span *ngIf="editAppointmentForm.controls['arrivalDate'].touched && editAppointmentForm.controls['arrivalDate'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please enter arrival date</span>
          </div>

          <!--Arrival Time-->
          <div class="uk-margin">
            <mat-form-field>
              <input matInput class="example-full-width" id="arrival-time" type="time" required formControlName="arrivalTime"
                [ngClass]="{'formInvalid':editAppointmentForm.controls['arrivalTime'].invalid && editAppointmentForm.controls['arrivalTime'].touched }">
            </mat-form-field>
            <span *ngIf="editAppointmentForm.controls['arrivalTime'].touched && editAppointmentForm.controls['arrivalTime'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please select arrival time</span>
          </div>

          <!--Purpose-->
          <div class="uk-margin">
            <label class="uk-form-label" for="purpose">Purpose</label>
            <div class="uk-form-controls" id="purpose">
              <select class="uk-select" required formControlName="purpose">
                <option *ngFor="let category of categories" value="{{ category.value }}">
                  {{ category.name }}
                </option>
              </select>
            </div>
            <span *ngIf="editAppointmentForm.controls['purpose'].touched && editAppointmentForm.controls['purpose'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Purpose is required</span>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="editAppointmentModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary" [disabled]="!editAppointmentForm.valid" class="relative waves-light goOn"
          id="goOn" mdbWavesEffect (click)="onSubmit(editAppointmentForm.value); editAppointmentModal.hide()"><i class="fa fa-thumbs-o-up"
            aria-hidden="true">Proceed</i></button>
      </div>
    </div>
  </div>
</div>


<!--Cancel Appointment Modal-->
<div mdbModal #cancelAppointmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelAppointmentModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Cancel Appointment</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this appointment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="cancelAppointmentModal.hide()">I
          changed my mind</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="cancelAppointment(); cancelAppointmentModal.hide()">
            Sure</i></button>
      </div>
    </div>
  </div>
</div>