nav {
  background: linear-gradient(
    180deg,
    rgba(214, 50, 89, 0.95) 0%,
    rgba(158, 27, 87, 0.95) 100%
  );
  border-radius: 1px;
}

.greeting {
  float: right;
}

.greeting:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile {
  overflow: auto;
  right: 5%;
  position: absolute;
  top: 5%;
}

.profile-img {
  font-weight: 400;
  cursor: pointer;
  float: left;
  margin-right: 4px;
  border-radius: 50%;
}

.profile-name {
  float: right;
  margin-left: 4px;
  margin-top: 10px;
}
.login,
.logout {
  cursor: pointer;
  color: white;
}

form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100% !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.uk-open > .uk-offcanvas-bar {
  width: 250px !important;
  padding: 20px !important;
}
.uk-offcanvas-bar {
  background: #f1f1f2 !important;
}
button.uk-offcanvas-close.uk-close.uk-icon {
  color: #44444b;
  cursor: pointer;
}

// .title {
//     border-radius: 50%;
//     border: 2px solid white;
//     padding: 8px 14px;
//     font-family: Montserrat;
// }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidenav {
  height: 100%;
  width: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  box-shadow: 2px 0px 2px rgb(204, 201, 201);
  color: #888b8d;
  p {
    .author {
      font-weight: bold;
      color: #795548 !important;
    }
  }
}

.sidenav:hover {
  box-shadow: 4px 0px 4px rgb(204, 201, 201);
}

.sidenav-title {
  padding: 15px;
}

.sidenav-title img {
  margin-right: 10px;
}

.sidenav-title p {
  color: #888b8d;
}

hr {
  margin-top: 5px;
}

.sidenav-search {
  text-align: center;
  padding: 18px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #e79e9e;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  // padding: 16px;
}

#offcanvas-overlay {
    #introImage {
        height: 40px;
        margin-top: 15px;
    }
    span #intro {
        color: #424344 !important;
    }
    hr {
        background-color: #3621558c !important;
    }
    .home {
        cursor: pointer;
        .uk-offcanvas-close.uk-close.uk-icon {
            position: absolute !important;
            margin-top: 70px !important;
        }
    }
    #homeImage {
        height: 20px;
        padding-right: 10px;
    }
    #homeText {
        color: #44444B;
        font-size: 0.9rem;
    }
    .assignRole {
        margin-top: 20px;
        .user.circle.outline.icon {
            color: #44444B;
            font-size: 20px;
        }
        #addUser {
            color: #44444B;
            font-size: 0.9rem;
            margin: 5px;
            position: absolute;
        }
    }
    .manageApp {
        margin-top: 20px;
        .calendar.outline.icon {
            color: #44444B;
            font-size: 20px;
        }
        #manageapp {
            color: #44444B;
            font-size: 0.9rem;
            margin: 5px;
            position: absolute;
        }
    }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

// Media queries
@media only screen and (max-width: 600px) {
    #introImage {
        display: none;
    }
}
@media only screen and (max-width: 960px) {
    .align.left.icon {
        display: none;
    }
}
