
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
    <a class="navbar-brand title">
      <img src="./assets/Images/Group 45.png" uk-toggle="target: #offcanvas-overlay" alt="" class="align left icon">
    </a>
    <div class="profile-img">
      <a [routerLink]='[""]' style="text-decoration: none">
        <p class="text-white">Home</p>
      </a>
    </div>
    <div class="profile right">
      <div class="profile-name">
        <p class="text-white">Hello, {{ userName }} </p>
      </div>
    </div>

  </div>

  <!-- <img src="./assets/Images/ISS Menu.svg" uk-toggle="target: #offcanvas-overlay" alt="" class="align left icon"> -->
<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <span>
      <img id="introImage" src="./assets/Images/galaxy-logo.png" alt="">
      <span id="intro">by Digital Lab</span>
    </span>
    <hr>
    <div class="home">
      <a routerLink="/">
        <img id="homeImage" src="./assets/Images/galaxy.png" alt="">
        <span id="homeText">Home </span>
      </a>
    </div>
    <!-- <div class="manageApp">
      <a  [routerLink]="['/admin/manage']">
        <i class="calendar outline icon"></i>
        <span id="manageapp">Manage</span>
      </a>
    </div> -->
  </div>
</div>
</nav>
