.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }
  .container.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  button.mat-button {
    background: #27658a;
    color: white;
  }
  .page-title {
      margin-bottom: 10px;
  }