<div class="my-3 my-md-5" style="background-color: #EFF5FF; margin-top: 0px; margin-bottom: 0px">
  <div class="container" style="margin-top: 0px">
    <div class="page-header" style="margin: 0px;">
      <h4 class="page-title">Create an Appointment</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-6">
            <div id="demo">
              <div class="vertical-align">
                <div class="container p-0">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="no-border">
                        <div id="chat" class="conv-form-wrapper">
                          <form [formGroup]="createAppointmentForm">
                            <p>Hello {{ user }}, kindly create your appointment below by filling in your visitor's
                              details</p>
                            <div class="form-container">
                              <!-- <p>Visitor's Information</p> -->
                              <!--Visitor's name-->
                              <mat-form-field>
                                <input matInput required placeholder="Firstname Lastname" pattern="^(?:(?:[a-zA-Z]+\s+[a-zA-Z]+))$"
                                  formControlName="visitorName">
                              </mat-form-field>
                              <!--Place of work-->
                              <mat-form-field>
                                <input matInput required placeholder="Place of work" pattern="^([a-zA-Z0-9 ])*$" formControlName="placeOfWork">
                              </mat-form-field>
                              <!--Phone number-->
                              <mat-form-field>
                                <input matInput type='text' required placeholder="Phone Number" pattern="^(?:[\d]{11})$"
                                  formControlName="phoneNumber">
                              </mat-form-field>
                              <!--Emaill Address-->
                              <mat-form-field>
                                <input matInput type='email' pattern="^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+[\.]+[a-zA-Z0-9-]+(\.[a-zA-Z0-9]*)*$"
                                  placeholder="Email" formControlName="email" required>
                              </mat-form-field>
                              <span *ngIf="createAppointmentForm.controls['email'].touched && createAppointmentForm.controls['email'].invalid">Enter
                                a valid email <address></address></span>
                              <!--Arrival date-->
                              <mat-form-field class="example-full-width">
                                <input matInput [min]="minDate"  [matDatepicker]="picker"  (focus)="picker.open()" placeholder="Arrival Date(MM/DD/YYYY)"
                                  formControlName="arrivalDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                              </mat-form-field>
                              <!--Arrival time-->
                              <mat-form-field>
                                <input matInput type='time' [min]="minTime" [max]="maxTime" value="07:00" required
                                  placeholder="Arrival Time" formControlName="arrivalTime">
                              </mat-form-field>
                              <!--Place of visit-->
                              <mat-form-field>
                                <mat-select placeholder="Place of visit" formControlName="placeOfVisit">
                                  <mat-option value="Block A"> Block A </mat-option>
                                    <mat-option value="Block B"> Block B </mat-option>
                                    <mat-option value="Block C"> Block C </mat-option>
                                    <mat-option value="Fidelity Place"> FIDELITY PLACE </mat-option>
                                    <mat-option value="HR'S Office"> HR'S OFFICE </mat-option>
                                    <mat-option value="AWOLOWO RD"> AWOLOWO RD </mat-option>
                                    <mat-option value="ADEYEMO ALAKIJA"> ADEYEMO ALAKIJA </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <!--Purpose of visit-->
                              <mat-form-field>
                                <mat-select placeholder="Purpose of visit" formControlName="purpose">
                                  <mat-option value="official">Official</mat-option>
                                  <mat-option value="personal">Personal</mat-option>
                                  <mat-option value="others">Others</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <div class='container button'>
                                <div class='row'>
                                  <div class='col-sm-12 col-md-6 col-lg-4'>
                                    <button mat-button [disabled]='!createAppointmentForm.valid' (click)='createAppointment(createAppointmentForm.value)'>Create Appointment</button>
                                  </div>
                                </div>
                              </div>


                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
