<div class="row">

  <div class="col">
    
    <app-social-apps></app-social-apps>

    <!-- <app-trasactional-apps></app-trasactional-apps> -->

  </div>

</div>

<!-- <app-loader [isLoading] = "loading"></app-loader> -->