
<div class="page" id="top">
  <div class="page-main">


    <div class="my-3 my-md-5" style="background-color: #EFF5FF; margin-top: 0px; margin-bottom: 0px">
      <div class="container">
        <div class="page-header" style="margin:0">
          <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="row row-cards">

          <!-- total visitors card  -->

          <div class="col-lg-4 col-sm-6">
            <app-total-visitors></app-total-visitors>
          </div>

          <!-- Signed in visitors card -->

          <div class="col-lg-4 col-sm-6">
            <app-signed-in-visitors></app-signed-in-visitors>
          </div>

          <!-- Visitors on appointment card -->

          <div class="col-lg-4 col-sm-6">
            <app-visitors-on-appointment></app-visitors-on-appointment>
          </div>
          
        </div>

        <!-- end of cards  -->

        <!-- start of charts  -->
          
        <div class="row">

          <div class="col-lg-6">
            <app-most-visited-month-chart></app-most-visited-month-chart>
          </div>	

          <div class=" col-lg-6">
            <app-most-visited-block-chart></app-most-visited-block-chart>
          </div>

          <!-- <div class="col-md-12">
              <app-most-visited-employee-chart></app-most-visited-employee-chart>
          </div> -->

        </div>

        <div class="row row-cards row-deck">

          <!-- recent visitors list -->
          <div class="col-md-12 col-lg-12">
            <app-recent-visitors></app-recent-visitors>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Back to top -->
<!-- <a href="" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a> -->