
<div class="page" id="top">
  <div class="page-main">

    <div class="my-3 my-md-5" style="background-color: #EFF5FF; margin-top: 0px; margin-bottom: 0px">
      <div class="container">

        <div class="page-header">
          <h4 class="page-title">Dashboard</h4>
        </div>

        <div class="row row-cards">

          <!-- total visitors card  -->

          <div class="col-lg-4 col-sm-6">
            <app-admin-total-visitors></app-admin-total-visitors>
          </div>

          <!-- Signed in visitors card -->

          <div class="col-lg-4 col-sm-6">
            <app-admin-signed-in-visitors></app-admin-signed-in-visitors>
          </div>

          <!-- Visitors on appointment card -->

          <div class="col-lg-4 col-sm-6">
            <app-admin-visitors-on-appointment></app-admin-visitors-on-appointment>
          </div>

        </div>

          <!-- end of cards  -->

          <!-- start of charts  -->

        <div class="row">

          <div class="col-lg-6">
            <app-admin-most-visited-employee-chart></app-admin-most-visited-employee-chart>
          </div>	

          <div class=" col-lg-6">
            <app-admin-most-visited-block-chart></app-admin-most-visited-block-chart>
          </div>

          <!-- <div class="col-md-12">
            <app-admin-most-visited-month-chart></app-admin-most-visited-month-chart>
          </div> -->

        </div>

        <div class="row row-cards row-deck">

          <!-- recent visitors list -->
          <div class="col-md-12 col-lg-12">
            <app-admin-recent-visitors></app-admin-recent-visitors>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>