<div class="card">
  <div class="card-header">
    <h3 class="card-title">Appointments</h3>
  </div>
  <div class="card-body">
    <!-- <div id="morrisBar-pie" class="chartsh"></div> -->
    <div style="display: block;">
      <canvas
          baseChart
          [chartType]="barChartType"
          [data] = "barChartData"
          [labels]="barChartLabels"
          [legend]="true"
        >
      </canvas>
    </div>
  </div>
</div>