<div class="my-3 my-md-5">
  <div class="container">
    <ng-container *ngIf="!errorMessage; then nonCompliance; else errorTemplate"></ng-container>
    <ng-template #nonCompliance>
      <!-- Form Starts Here -->
    <ng-container>
        <form [formGroup]="createSearchForm">
           <!-- StartDate Field -->
        
          <mat-form-field class="padding-left">
            <input matInput [max]="maxDate" [matDatepicker]="db" (focus)= "db.open()" placeholder="Date From" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
            <mat-datepicker #db></mat-datepicker>
          </mat-form-field>
  
           <!-- EndDate Field -->
          <mat-form-field class="padding-left">
            <input matInput [max]="maxDate" [matDatepicker]="dp" (focus)= "dp.open()"placeholder="Date To" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
  
          <button style="margin-left: 20%" (click)="downloadReport()" [disabled]="!createSearchForm.valid" mat-stroked-button color='primary'>Download
            Report</button>
        </form>
        
      </ng-container>
      <!-- Form Ends Here -->
      <!-- Filter current display data starts here -->
      <mat-form-field class="filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <!-- Filter ends here -->
      <mat-card><strong>View Non-Compliance</strong></mat-card>
      <div class="mat-elevation-z8">
        <table mat-table class="text-center" [dataSource]="dataSource">
          <!-- dateLogged Column -->
          <ng-container  matColumnDef="dateLogged">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Date Logged </th>
            <td mat-cell *matCellDef="let element"> {{element.dateLogged | date : 'medium'}} </td>
          </ng-container>
  
          <!-- defaultingStaff Column -->
          <ng-container  matColumnDef="defaultingStaff">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Defaulting Staff </th>
            <td mat-cell *matCellDef="let element"> {{element.defaultingStaff}} </td>
          </ng-container>
  
          <!-- ISSUE Column -->
          <ng-container  matColumnDef="issue">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Issue </th>
            <td mat-cell *matCellDef="let element"> {{element.issue}} </td>
          </ng-container>
  
          <!-- COMMENT Column -->
          <ng-container matColumnDef="comment">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Comment </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
          </ng-container>
  
          <!-- receptionistLoggingIssue Column -->
          <ng-container  matColumnDef="receptionistLoggingIssue">
            <th mat-header-cell class="text-center" *matHeaderCellDef>Receptionist Logging Issue </th>
            <td mat-cell *matCellDef="let element"> {{element.receptionistLoggingIssue}} </td>
          </ng-container>
  
          <tr mat-header-row class="text-center" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </ng-template>
    <ng-template #errorTemplate>
        <app-error [errorMessage]="errorMessage"></app-error>
    </ng-template>
    
    
  </div>
</div>