.ml-4.mt-4 {
  margin-top: 0.9rem !important;
}

.wrapper {
    margin: 10px ;
}
img {
  height: 100px;
}
.tileIcon {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 40%;
}
  
.tileIcon img {
  top: 40%;
  left: 40%;
  // position: absolute;
  }

.tileContent {
  overflow: auto;
  padding: 20px;
  float: left;
}

.tileContent h5 {
  float: left;
  color: white;
  bottom: 15px;
  position: absolute;
  &:hover{
    color: grey;
    font-weight: 500;
  }
}

.tileSmallIcons {
  float: right;
  margin-right: 40px;
  padding-right: 20px;
}
  
.tileSmallIcons .heart {
  padding-left: 30px;
  float: right;
  color: white;
  bottom: 15px;
  position: absolute;
  font-size: 12pt;
}

.tileSmallIcons .power {
  margin-left: 8px;
  margin-right: 8px;
  float: right;
  color: white;
  bottom: 15px;
  position: absolute;
}

.power.off.icon {
  &::before{
    color: white !important;
  }
}

.title {
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
}
.twoResponseOne {
  height: 300px;
  background-color: #23ABAC;
  border-radius: 15px;
}

.twoResponseTwo {
  height: 300px;
  background-color: #54339B;
  border-radius: 15px;
}

.oneResponse {
  height: 400px;
  background-color: #23ABAC;
  border-radius: 15px;
}


.firstCol {
  background: white;
  padding-right: 10px;
}

.one, .two {
/*   border: 2px solid green; */
  height: 510px;
}

.two-one {
  padding-bottom: 10px;
}

.one {
  background-color: #23ABAC;
}

.a {
  background-color: #54339B;;
  width: 100%;
  height: 250px;
}


.b {
  background-color: #FABB62;
  width: 100%;
  height: 250px;
}

h1.lead {
  margin: 150px auto;
}
  
@media only screen and (max-width: 990px) {
  
  .wrapper{
    display: block;
    // width: 100%;
  }
  
  .one {
    width: 100%;
    height: 200px;
    
  }
  
  .two {
    width: 100%;
/*     height: auto; */
/*     display: block; */
  }
  
/*   .two-one, .two-two {
    width: 100%;
    display: block;
  } */
  
  .two .a {
    height: 200px;
    width: 100%;
    margin-top: 5%;
  }
  
  .two .b {
    height: 200px;
    width: 100%;
    margin-top: 5%;
  }

  .twoResponseOne {
    margin-right: 0px;
  }
  

  .twoResponseTwo {
    margin-top: 20px;
    margin-left: 0px;
  }

  .twoResponseOne, .twoResponseTwo {
    height: 200px;
  }

  .oneResponse {
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 0px;
    height: 200px;
  }

  h1.lead {
    margin: 200px auto;
}
  
}
