<!-- THREE APPLICATIONS RETURNED  -->

<div class="container" *ngIf="favoriteApps?.length == 3">
  <h3 class="ml-4 mt-4 title">Favourite Apps</h3>
  <div class="row wrapper text-center">
    <div class="firstCol col-lg-8 col-sm-8">
      <div class=" one ">
        <div class="tileIcon">
          <a [href]="favoriteApps[0]?.AppURL">
            <img
              [src]="favoriteApps[0]?.AppIcon | safeHtml"
              height="100"
              alt="icon"
            />
          </a>
        </div>

        <div class="tileContent">
          <a [href]="favoriteApps[0]?.AppURL">
            <h5>{{ favoriteApps[0]?.AppName }}</h5>
          </a>
        </div>

        <div class="tileSmallIcons">
          <a
            ><i
              class="power off icon"
              mbdTooltip="Remove from favorite"
              (click)="removeFromFavorite(favoriteApps[0]?.AppId)"
            ></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-8 two">
      <div class="row two-one">
        <div class="col a">
          <div class="tileIcon">
            <a [href]="favoriteApps[1]?.AppURL">
              <img
                [src]="favoriteApps[1]?.AppIcon | safeHtml"
                height="100"
                alt="icon"
              />
            </a>
          </div>

          <div class="tileContent">
            <a [href]="favoriteApps[1]?.AppURL">
              <h5>{{ favoriteApps[1]?.AppName }}</h5>
            </a>
          </div>

          <div class="tileSmallIcons">
            <a
              ><i
                class="power off icon"
                mbdTooltip="Remove from favorite"
                (click)="removeFromFavorite(favoriteApps[0]?.AppId)"
              ></i
            ></a>
          </div>
        </div>
      </div>

      <div class="row two-two">
        <div class="col b">
          <div class="tileIcon">
            <a [href]="favoriteApps[2]?.AppURL">
              <img
                [src]="favoriteApps[2]?.AppIcon | safeHtml"
                height="100"
                alt="icon"
              />
            </a>
          </div>

          <div class="tileContent">
            <a [href]="favoriteApps[2]?.AppURL">
              <h5>{{ favoriteApps[2]?.AppName }}</h5>
            </a>
          </div>

          <div class="tileSmallIcons">
            <a
              ><i
                class="power off icon"
                mbdTooltip="Remove from favorite"
                (click)="removeFromFavorite(favoriteApps[0]?.AppId)"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TWO APPLICATIONS RETURNED  -->

<div class="container" *ngIf="favoriteApps?.length == 2">
  <h3 class="ml-4 mt-4 title">Favourite Apps</h3>
  <div class="row wrapper text-center">
    <div class="col-lg-6 col-sm-12">
      <div class="twoResponseOne">
        <div class="tileIcon">
          <a [href]="favoriteApps[0]?.AppURL">
            <img
              [src]="favoriteApps[0]?.AppIcon | safeHtml"
              height="100"
              alt="icon"
            />
          </a>
        </div>

        <div class="tileContent">
          <a [href]="favoriteApps[0]?.AppURL">
            <h5>{{ favoriteApps[0]?.AppName }}</h5>
          </a>
        </div>

        <div class="tileSmallIcons">
          <a
            ><i
              mbdTooltip="Remove from favorite"
              class="power off icon"
              (click)="removeFromFavorite(favoriteApps[0]?.AppId)"
            ></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="twoResponseTwo">
        <div class="tileIcon">
          <a [href]="favoriteApps[1]?.AppURL">
            <img
              [src]="favoriteApps[1]?.AppIcon | safeHtml"
              height="100"
              alt="icon"
            />
          </a>
        </div>

        <div class="tileContent">
          <a [href]="favoriteApps[1]?.AppURL">
            <h5>{{ favoriteApps[1]?.AppName }}</h5>
          </a>
        </div>

        <div class="tileSmallIcons">
          <a
            ><i
              class="power off icon"
              mbdTooltip="Remove from favorite"
              (click)="removeFromFavorite(favoriteApps[0]?.AppId)"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ONE APPLICATION RETURNED  -->

<div class="container" *ngIf="favoriteApps?.length == 1">
  <h3 class="ml-4 mt-4 title">Favourite Apps</h3>

  <div class="row wrapper text-center">
    <div class="col-lg-12 col-sm-12 oneResponse">
      <div class="tileIcon">
        <a [href]="favoriteApps[0]?.AppURL">
          <img
            [src]="favoriteApps[0]?.AppIcon | safeHtml"
            height="100"
            alt="icon"
          />
        </a>
      </div>

      <div class="tileContent">
        <a [href]="favoriteApps[0]?.AppURL">
          <h5>{{ favoriteApps[0]?.AppName }}</h5>
        </a>
      </div>

      <div class="tileSmallIcons">
        <a
          ><i
            class="power off icon"
            mbdTooltip="Remove from favorite"
            (click)="removeFromFavorite(favoriteApps[0]?.AppId)"
          ></i
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- NO APPLICATION RETURNED  -->

<div class="container" *ngIf="favoriteApps?.length === 0">
  <h3 class="ml-4 mt-4 title">Favourite Apps</h3>
  <div class="message text-center">
    <h1 class="lead">
      You Do Not Have Any Application(s) in Your Favourites Yet. Click on the
      <i class="heart outline icon"></i>
      on App to add to Favourite
    </h1>
  </div>
</div>
