
<div class="card">
  <div class="card-body text-center">
    <div class="h5">Visitors on Appointment Today</div>
    <div class="h1 font-weight-semibold">{{totalNumberOfAppointments}}</div>
  </div>
</div>
