nav {
    box-shadow: none !important;
    padding: 15px;
}
.nav-link {
    color:#44444B !important;
    .action1,.action2,.action3 {
        font-size: 0.9rem;
        padding: 15px;
        text-decoration: none;
    }
}

ul {
    
}
a:hover{
    color: #533367;
}

.modal-body {
    .uk-form-label{
        font-weight: bold;
    }
    #category-name {
        border-radius: 2px;
        height: 35px;
    }
    button.uk-button.uk-button-default.upload {
        background: linear-gradient(270deg, rgba(54, 33, 85, 0.95) 50%, rgba(66, 38, 91, 0.95) 70.35%, rgba(76, 41, 96, 0.95) 90%, rgba(92, 47, 104, 0.95) 99.44%, rgba(92, 47, 104, 0.95) 100%);
        color: white;
        text-transform: capitalize;
    }    
}
.modal-footer {
    button.relative.waves-light.goOn{
        background: linear-gradient(270deg, rgba(54, 33, 85, 0.95) 50%, rgba(66, 38, 91, 0.95) 70.35%, rgba(76, 41, 96, 0.95) 90%, rgba(92, 47, 104, 0.95) 99.44%, rgba(92, 47, 104, 0.95) 100%) !important;
        text-transform: capitalize !important;
        font-size: 0.7rem;
        border: none !important;
        .fa.fa-thumbs-o-up {
            :before{
                padding: 5px;
            }
        }
    }
    button.waves-light.cancel {
        font-size: 0.7rem;
        text-transform: capitalize !important;
        border: 1px solid rgba(54, 33, 85, 0.95) !important;
        background: white !important;
        box-shadow: none !important;
        color: rgba(54, 33, 85, 0.95) !important;
        font-weight: bold;
    }
}
.formInvalid {
    border: 1px solid #dd1616 !important;
}