<nav class="nav ml-auto">
    <a class="nav-link">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
        <span class="action1" (click)="addAppModal.show()">Add new app</span>
    </a>
    <a class="nav-link">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="action2" (click)="addCatModal.show()">Add new category</span>
    </a>
    <!-- <a class="nav-link">
        <mdb-icon fas icon="fa fa-address-book"></mdb-icon>
        <span class="action3" (click)="addRoleModal.show()">Create staff role</span>
    </a> -->
    <a class="nav-link">
      <i class="user circle outline icon" aria-hidden="true"></i>
      <span class="action3" (click)="addUserModal.show()">Assign staff role</span>
  </a>
  </nav>
  <!-- <app-alerts></app-alerts> -->

<!--Add Category Modal-->
<div mdbModal #addCatModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addCatModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCategoryForm" (ngSubmit)="createNewCategory(addCategoryForm.value)">
          <!--Category Name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="category-name">Category Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="category-name" type="text" placeholder="" pattern="^[a-zA-Z]+" required formControlName="categoryName"
                [ngClass]="{'formInvalid':addCategoryForm.controls['categoryName'].invalid && addCategoryForm.controls['categoryName'].touched }">
            </div>
            <span *ngIf="addCategoryForm.controls['categoryName'].touched && addCategoryForm.controls['categoryName'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Invalid characters</span>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="category-desc">Category Description</label>
            <textarea class="uk-textarea" rows="5" placeholder="Decribe the Category" required formControlName="categoryDescription"></textarea>
            <span *ngIf="addCategoryForm.controls['categoryDescription'].touched && addCategoryForm.controls['categoryDescription'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Description should be at least 10 characters long</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="addCatModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary" [disabled]="!addCategoryForm.valid" class="relative waves-light goOn"
          id="goOn" mdbWavesEffect (click)="createNewCategory(addCategoryForm.value); addCatModal.hide()"><i class="fa fa-thumbs-o-up"
            aria-hidden="true">Proceed</i></button>
      </div>
    </div>
  </div>
</div>

<!--Add App Modal-->
<div mdbModal #addAppModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addAppModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Add New App.</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addAppForm">
          <!--App Name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="category-name">App Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="app-name" type="text" placeholder="" pattern = "^[a-zA-Z 0-9]+" required formControlName="appName"
                [ngClass]="{'formInvalid':addAppForm.controls['appName'].invalid && addAppForm.controls['appName'].touched }">
            </div>
            <span *ngIf="addAppForm.controls['appName'].touched && addAppForm.controls['appName'].invalid" [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please enter a valid application name</span>
          </div>
          <!--App Category-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-category">App Category</label>
            <div class="uk-form-controls">
              <select class="uk-select" (change)='changeCategory($event.target.value)' required formControlName="appCategory">
                <option>----Select----</option>
                <option *ngFor="let category of categories" [ngClass]="{'formInvalid':addAppForm.controls['appCategory'].invalid && addAppForm.controls['appCategory'].touched }">{{
                  category.name }}</option>
              </select>
              <!-- <input class="uk-input" id="app-category" type="text" placeholder="" required formControlName="appCategory"
                [ngClass]="{'formInvalid':addAppForm.controls['appCategory'].invalid && addAppForm.controls['appCategory'].touched }"> -->
            </div>
            <span *ngIf="addAppForm.controls['appCategory'].touched && addAppForm.controls['appCategory'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Application Category cannot be empty</span>
          </div>
          <!--App Status-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-status">App Status</label>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-radio" type="radio" value='active' name="appStatus" checked formControlName="appStatus">Active</label>
              <label><input class="uk-radio" type="radio" value='inactive' name="appStatus" formControlName="appStatus">Inactive</label>
            </div>
          </div>
          <!--App Url-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-category">App URL</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="app-url" type="text" placeholder="" pattern="https?://.+" required formControlName="appUrl"
                [ngClass]="{'formInvalid':addAppForm.controls['appUrl'].invalid && addAppForm.controls['appUrl'].touched }">
            </div>
            <span *ngIf="addAppForm.controls['appUrl'].touched && addAppForm.controls['appUrl'].invalid" [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Enter a valid URL</span>
          </div>
          <!--App Icon-->
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input type="file" id="appIcon" (change)="toBase64($event,'app')">
              <input class="uk-input uk-form-width-medium" type="text" required placeholder="Select file"
                formControlName="appIcon">
            </div>
            <button class="uk-button uk-button-default upload" disable>Upload Icon</button>
          </div>
          <!--App Description-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-desc">App Description</label>
            <textarea class="uk-textarea" rows="2" placeholder="Describe the Application" required formControlName="appDesc"></textarea>
            <span *ngIf="addAppForm.controls['appDesc'].touched && addAppForm.controls['appDesc'].invalid" [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Description
              should be at least 10 characters long</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="addAppModal.hide()">Cancel</button>
        <button type="submit" mdbBtn color="primary" [disabled]="!addAppForm.valid" (click)="createNewApp(addAppForm.value); addAppModal.hide()"
          class="relative waves-light goOn" id="goOn" mdbWavesEffect><i class="fa fa-thumbs-o-up" aria-hidden="true">Proceed</i></button>
      </div>
    </div>
  </div>
</div>

<!--Add User Modal-->
<div mdbModal #addUserModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addUserModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Provision a Staff</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUserForm">
          <!--Staff Name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="staff-name">Staff Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="staff-name" type="text" placeholder="" pattern="^(?:(?:[a-zA-Z]+\s+[a-zA-Z]+))$" required formControlName="StaffName"
                [ngClass]="{'formInvalid':addUserForm.controls['StaffName'].invalid && addUserForm.controls['StaffName'].touched }">
            </div>
            <span *ngIf="addUserForm.controls['StaffName'].touched && addUserForm.controls['StaffName'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Staff's name cannot be empty</span>
          </div>
          <!--Staff ID-->
          <div class="uk-margin">
            <label class="uk-form-label" for="staff-id">Staff Id</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="staff-id" type="text" placeholder="" pattern = "^([p]|[P]|[S]|[s])+\d{4}" required formControlName="StaffId"
                [ngClass]="{'formInvalid':addUserForm.controls['StaffId'].invalid && addUserForm.controls['StaffId'].touched }">
            </div>
            <span *ngIf="addUserForm.controls['StaffId'].touched && addUserForm.controls['StaffId'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please enter a valid staff Id</span>
          </div>
          <!--Staff Email-->
          <div class="uk-margin">
            <label class="uk-form-label" for="staff-email">Staff Email</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="staff-id" type="text" placeholder="" pattern="(\W|^)[\w.+\-]*@fidelitybank\.ng(\W|$)" required formControlName="StaffEmail"
                [ngClass]="{'formInvalid':addUserForm.controls['StaffEmail'].invalid && addUserForm.controls['StaffEmail'].touched }">
            </div>
            <span *ngIf="addUserForm.controls['StaffEmail'].touched && addUserForm.controls['StaffEmail'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Please enter a valid email address</span>
          </div>
          <!--App name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-name">Application name</label>
            <div class="uk-form-controls">
              <select class="uk-select" (change)='change($event.target.value)' required formControlName="application">
                <option>---Select---</option>
                <option *ngFor="let app of applications" [ngClass]="{'formInvalid':addUserForm.controls['application'].invalid && addUserForm.controls['application'].touched }">
                  {{ app.name }}</option>
              </select>
            </div>
            <span *ngIf="addAppForm.controls['appCategory'].touched && addAppForm.controls['appCategory'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Application name cannot be empty</span>
          </div>
          <!--Role-->
          <div class="uk-margin">
              <label class="uk-form-label" for="role">Role</label>
              <div class="uk-form-controls">
                <select class="uk-select" (change)='pickId($event.target.value)' required formControlName="Role">
                  <option>---Select---</option>
                  <option *ngFor="let role of appRoles"  [ngClass]="{'formInvalid':addUserForm.controls['Role'].invalid && addUserForm.controls['Role'].touched }">
                    {{ role.RoleName }}</option>
                </select>
              </div>
              <span *ngIf="addAppForm.controls['appCategory'].touched && addAppForm.controls['appCategory'].invalid"
                [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Role name cannot be empty</span>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="addUserModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary" [disabled]="!addUserForm.valid" class="relative waves-light goOn"
          id="goOn" mdbWavesEffect (click)="assignStaffRole(addUserForm.value); addUserModal.hide()"><i class="fa fa-thumbs-o-up"
            aria-hidden="true">Proceed</i></button>
      </div>
    </div>
  </div>
</div>

<!--Add new role modal-->
<div mdbModal #addRoleModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addRoleModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Create a new role</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addRoleForm">
          <!--Role Name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="role-name">Role Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="role-name" type="text" placeholder="" pattern = "^[a-zA-Z 0-9]+" required formControlName="roleName"
                [ngClass]="{'formInvalid':addRoleForm.controls['roleName'].invalid && addRoleForm.controls['roleName'].touched }">
            </div>
            <span *ngIf="addRoleForm.controls['roleName'].touched && addRoleForm.controls['roleName'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Enter a valid name </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="addRoleModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary" [disabled]="!addRoleForm.valid" class="relative waves-light goOn"
          id="goOn" mdbWavesEffect (click)="createNewRole(addRoleForm.value); addRoleModal.hide()"><i class="fa fa-thumbs-o-up"
            aria-hidden="true">Proceed</i></button>
      </div>
    </div>
  </div>
</div>
