<h3 class="ml-4 mt-4">Featured Apps</h3>

<!-- THREE APPLICATIONS RETURNED  -->

<div class="container">

  <div class="row wrapper text-center">

    <div class="firstCol col-lg-8 col-sm-8">

      <div class=" one ">

        <div class="tileIcon">
          <img src="" alt="icon">
        </div>

        <div class="tileContent">

          <h5>App Title</h5>

        </div>

        <div class="tileSmallIcons">

          <a href="#"><i class="power off icon"></i></a>
          <a href="#"><i class="heart outline icon"></i></a>

        </div>

      </div>

    </div>


    <div class="col-lg-4 col-sm-8 two">

      <div class= "row two-one">

        <div class="col a">

          <div class="tileIcon">
            <img src="" alt="icon">
          </div>

          <div class="tileContent">

            <h5>App Title</h5>

          </div>

          <div class="tileSmallIcons">

            <a href="#"><i class="power off icon"></i></a>
            <a href="#"><i class="heart outline icon"></i></a>

          </div>

        </div>

      </div>

      <div class= "row two-two">

        <div class="col b">

          <div class="tileIcon">
          <img src="" alt="icon">
          </div>

          <div class="tileContent">

            <h5>App Title</h5>

          </div>

          <div class="tileSmallIcons">

              <a href="#"><i class="power off icon"></i></a>
              <a href="#"><i class="heart outline icon"></i></a>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- TWO APPLICATIONS RETURNED  -->

<div class="container">

  <div class="row wrapper text-center">

    <div class="col-lg-6 col-sm-12">

      <div class="twoResponseOne">

        <div class="tileIcon">
          <img src="" alt="icon">
        </div>

        <div class="tileContent">

          <h5>App Title</h5>

        </div>

        <div class="tileSmallIcons">

          <a href="#"><i class="power off icon"></i></a>
          <a href="#"><i class="heart outline icon"></i></a>

        </div>

      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="twoResponseTwo">

        <div class="tileIcon">
          <img src="" alt="icon">
        </div>

        <div class="tileContent">

          <h5>App Title</h5>

        </div>

        <div class="tileSmallIcons">

          <a href="#"><i class="power off icon"></i></a>
          <a href="#"><i class="heart outline icon"></i></a>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- ONE APPLICATION RETURNED  -->
<div class="container">

  <div class="row wrapper text-center">

    <div class="col-lg-12 col-sm-12 oneResponse">

      <div class="tileIcon">
        <img src="" alt="icon">
      </div>

      <div class="tileContent">

        <h5>App Title</h5>

      </div>

      <div class="tileSmallIcons">

        <a href="#"><i class="power off icon"></i></a>
        <a href="#"><i class="heart outline icon"></i></a>

      </div>

    </div>

  </div>

</div>

<!-- NO APPLICATION RETURNED  -->

<div class="container">

  <div class="message text-center">

    <h1 class="lead">
      You Do Not Have Any Application(s) in Your Favourites Yet. Click on the <i class="heart outline icon"></i>
      on App to add to Favourite
    </h1>

  </div>

</div>
