.header {
    padding: 4px !important;
    background: linear-gradient(to left, #4CAF50, #1643a3);
    border-bottom: 1px solid #d7e7ff;
}
.header-brand img {
    height: 40px;
    padding: 2px;
    margin-top: 5px;
}
.dropdown {
    display: block;
}
.dropdown-menu {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    min-width: 12rem;
}
.dropdown-item {
    color: #5e7cac;
}
.dropdown-menu-arrow.dropdown-menu-right:before,
.dropdown-menu-arrow.dropdown-menu-right:after {
    left: auto;
    right: 12px;
}
.dropdown-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.dropdown-toggle:after {
    vertical-align: 0.155em;
}

.dropdown-toggle:empty:after {
    margin-left: 0;
}

.dropdown-icon {
    color: #9aa0ac;
    margin-right: .5rem;
    margin-left: -.5rem;
    width: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: -1px;
}
/*----- Avatars -----*/

.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    background: #ff7088 no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: 600;
    vertical-align: bottom;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noborder {
    border-radius: 0;
}

.brround {
    border-radius: 50%;
}

.bradius {
    border-radius: 25%;
}

.avatar i {
    font-size: 125%;
    vertical-align: sub;
}

.avatar-status {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: .75rem;
    height: .75rem;
    border: 2px solid #fff;
    background: #868e96;
    border-radius: 50%;
}

.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .75rem;
}

.avatar-md {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
}

