<div class='header py-4'>
  <div class='container'>
    <div class="d-flex">
      <a class="header-brand" href ="./">
        <img src="./assets/Images/fidelity.png" class="header-brand-img" alt="trueVisit logo">
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <!-- <h2 class="text-white display-4 font-weight-semibold" style="font-size: 3rem;">truVisit</h2> -->
        <!-- <div class="dropdown mt-1">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar avatar-md brround" style="background-image: url(../../../../../../../../assets/Images/1.svg)"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
            <div class="text-center">
              <span class="dropdown-item text-center font-weight-sembold text-dark user">Username</span>
              <span class="text-center user-semi-title text-dark">Job role</span>
              <div class="dropdown-divider"></div>
            </div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
