

<!-- THREE APPLICATIONS RETURNED  -->


<div class="container" *ngIf="recentlyUsedApplications?.length == 3">
    <h3 class="ml-4 mt-4 title">Recently Used Apps</h3>
    <div class="row wrapper text-center">

      <div class="firstCol col-lg-8 col-sm-8">
        
          <div class=" one ">

            <div class="tileIcon">
              <img [src]="recentlyUsedApplications[0]?.AppIcon | safeHtml" alt="icon" width='100' height='100'>
            </div>

            <div class="tileContent">
                <a [href]='recentlyUsedApplications[0]?.AppURL'>
              <h5>{{ recentlyUsedApplications[0]?.AppName }}</h5>
            </a>
            </div>

            <div class="tileSmallIcons">

              <!-- <a href="#"><i class="power off icon"></i></a> -->

              <a 
              *ngIf="!recentlyUsedApplications[0]?.IsFavorite"
              >
              <i class="heart outline icon" (click)='addToFavorite(recentlyUsedApplications[0]?.AppId)'
              mdbTooltip='Add {{ recentlyUsedApplications[0]?.AppName }} to favorites'></i>
            </a>

            </div>

          </div>
        


      </div>


      <div class="col-lg-4 col-sm-8 two">
        
        <div class= "row two-one">

            <div class="col a">

              <div class="tileIcon">
                <img [src]="recentlyUsedApplications[1]?.AppIcon | safeHtml" alt="icon" width='100' height='100'>
              </div>

              <div class="tileContent">
                  <a [href]='recentlyUsedApplications[1]?.AppURL'>
                <h5>{{ recentlyUsedApplications[1]?.AppName }}</h5>
              </a>
              </div>

              <div class="tileSmallIcons">

                <!-- <a href="#"><i class="power off icon"></i></a> -->
                <a
                  *ngIf="!recentlyUsedApplications[1]?.IsFavorite"
                  >
                  <i class="heart outline icon" (click)='addToFavorite(recentlyUsedApplications[1]?.AppId)'
                  title='Add {{ recentlyUsedApplications[1]?.AppName }} to favorites'></i>
                </a>
              </div>

            </div>



        </div>
      
     
        <div class= "row two-two">

            <div class="col b">

              <div class="tileIcon">
              <img [src]="recentlyUsedApplications[2]?.AppIcon | safeHtml" alt="icon" width='100' height='100'>
              </div>

              <div class="tileContent">
                  <a [href]='recentlyUsedApplications[2]?.AppURL' target="_blank">
                <h5>{{ recentlyUsedApplications[2]?.AppName }}</h5>
              </a>
              </div>

              <div class="tileSmallIcons">

                  <!-- <a href="#"><i class="power off icon"></i></a> -->
                  <a
                    *ngIf="!recentlyUsedApplications[2]?.IsFavorite"
                   >
                    <i class="heart outline icon" (click)='addToFavorite(recentlyUsedApplications[2]?.AppId)'
                    mdbTooltip='Add {{ recentlyUsedApplications[2]?.AppName }} to favorites'></i>
                  </a>

              </div>

            </div>



        </div>
      
      </div>

    </div>

  </div>


<!-- TWO APPLICATIONS RETURNED  -->

<div class="container"  *ngIf="recentlyUsedApplications?.length == 2" >
    <h3 class="ml-4 mt-4 title">Recently Used Apps</h3>
  <div class="row wrapper text-center">

    <div class="col-lg-6 col-sm-12">
     
        <div class="twoResponseOne">

          <div class="tileIcon">
            <img [src]="recentlyUsedApplications[0]?.AppIcon | safeHtml" alt="icon" width='100' height='100'>
          </div>

          <div class="tileContent">
              <a [href]='recentlyUsedApplications[0]?.AppURL'>
            <h5>{{ recentlyUsedApplications[0]?.AppName }}</h5>
          </a>
          </div>

          <div class="tileSmallIcons">

            <!-- <a href="#"><i class="power off icon"></i></a> -->
            <a 
              *ngIf="!recentlyUsedApplications[0]?.IsFavorite"
              >
              <i class="heart outline icon" (click)='addToFavorite(recentlyUsedApplications[0]?.AppId)'
              mdbTooltip='Add {{ recentlyUsedApplications[0]?.AppName }} to favorites'></i>
            </a>

          </div>

        </div>
      


    </div>

    <div class="col-lg-6 col-sm-12">

      
          <div class="twoResponseTwo">

            <div class="tileIcon">
              <img [src]="recentlyUsedApplications[1]?.AppIcon | safeHtml" alt="icon" width='100' height='100'>
            </div>

            <div class="tileContent">
                <a [href]='recentlyUsedApplications[1]?.AppURL'>
              <h5>{{ recentlyUsedApplications[1]?.AppName }}</h5>
            </a>
            </div>

            <div class="tileSmallIcons">

              <!-- <a href="#"><i class="power off icon"></i></a> -->
              <a
                *ngIf="!recentlyUsedApplications[1]?.IsFavorite"
                >
                <i class="heart outline icon" (click)='addToFavorite(recentlyUsedApplications[1]?.AppId)'
                mdbTooltip='Add {{ recentlyUsedApplications[1]?.AppName }} to favorites'></i>
              </a>

            </div>

          </div>
      


    </div>

  </div>

</div>


<!-- ONE APPLICATION RETURNED  -->

  <div class="container" *ngIf="recentlyUsedApplications?.length == 1">
      <h3 class="ml-4 mt-4 title">Recently Used Apps</h3>
    <div class="row wrapper text-center">

      <div class="col-lg-12 col-sm-12 oneResponse">

        <div class="tileIcon">
          <img [src]="recentlyUsedApplications[0]?.AppIcon | safeHtml" alt="icon" width='100' height='100'>
        </div>

        <div class="tileContent">
            <a [href]='recentlyUsedApplications[0]?.AppURL'>
          <h5>{{ recentlyUsedApplications[0]?.AppName }}</h5>
        </a>
        </div>

        <div class="tileSmallIcons">

          <!-- <a href="#"><i class="power off icon"></i></a> -->
          <a
              *ngIf="!recentlyUsedApplications[0]?.IsFavorite"
              >
              <i class="heart outline icon" (click)='addToFavorite(recentlyUsedApplications[0]?.AppId)'
              title='Add {{ recentlyUsedApplications[0]?.AppName }} to favorites'></i>
            </a>

        </div>

      </div>

    </div>
  
  </div>



<!-- NO APPLICATION RETURNED  -->

<div class="container" *ngIf="recentlyUsedApplications?.length === 0">
    <h3 class="ml-4 mt-4 title">Recently Used Apps</h3>
  <div class="message text-center">

    <h1 class="lead">
      You have not used any application recently.
    </h1>
  </div>
</div>
