
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#main {
    background:  #E5E5E5;
    font-family: montserrat;
}

nav {
    background: linear-gradient(180deg, rgba(214, 50, 89, 0.95) 0%, rgba(158, 27, 87, 0.95) 100%);
    border-radius: 1px;
}

.title {
    border-radius: 50%;
    border: 2px solid white;
    padding: 8px 14px;
    font-family: Montserrat;
}

.row {
    margin: 20px;
}

.uk-card {
    // max-width: 290px !important;
    margin-bottom: 12px;
}

.uk-card-media-top {
    border-radius: 4px 4px 0px 0px !important;
    height: 176.47px;
    text-align: center;

}

.card1-header {
    background: #1271F7 !important;
}

.card2-header {
    background: #FE7A14;
}

.card3-header {
    background: #23ABAC;
}

.card4-header {
    background: #FABB62;
}

.card5-header {
    background: #92C0A8;
}

.card6-header {
    background: #D16F5C;
}

.card7-header {
    background: #5D7B84;
}

.card8-header {
    background: #776694;
}

.uk-card-media-top img {
    height: 70px;
    width: 70px;
    margin: 40px auto;
}

.uk-card-media-top svg {
    height: 70px;
    width: 70px;
    margin: 40px auto;
}

.uk-card-body {
    position: relative;
} 

.uk-card-body img {
    position: absolute;
    top: 0;
    margin-top: -20px;
    border: 5px solid white;
    border-radius: 50%;
    background: white !important;
}

.uk-card-body svg {
    // position: absolute;
    // top: 0;
    // margin-top: -20px;
    // border: 5px solid white;
    // border-radius: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.heart {
    margin-right: 14px;
    // margin: 0 auto;
    // background: grey;
    // border-radius: 50%;
    // color: white;
    // fill-opacity: 0.1;

}

.context-menu{
    font-style: bold;
    font-weight: 900;
    margin: 0 auto;
    padding-bottom: 20px;
}





/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 66px;
    left: 0;
    background-color:  #E5E5E5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 4px 0px 4px rgb(204, 201, 201);
}

.sidenav:hover{
    box-shadow: 8px 0px 8px rgb(204, 201, 201);

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    // padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}