<div id="loader" *ngIf="isLoading">
  <div class="inner rotate-one"></div>
  <div class="inner rotate-two"></div>
  <div class="inner rotate-three"></div>
</div>

<!-- <mat-spinner *ngIf = 'isLoading'></mat-spinner> -->
