.container {
  font-family: 'Lato', sans-serif;
}
.ml-4.mt-4 {
  margin-top: 0 !important;
  margin-bottom: 25px !important;
  margin-left: 0px !important;
}

// .wrapper {
//   margin: 10px ;
// }
// img {
//   height: 100px;
// }

// .tileIcon {
// text-align: center;
// }



// .tileContent h5 {
// float: left;
// color: white;
// bottom: 15px;
// position: absolute;
// &:hover{
//   color: grey;
//   font-weight: 500;
// }
// }

.tileSmallIcons {
float: right;
margin-right: 40px;
padding-right: 20px;
}

.tileSmallIcons .heart {
padding-left: 30px;
float: right;
color: white;
bottom: 15px;
position: absolute;
font-size: 12pt;
}

.tileSmallIcons .power {
margin-left: 8px;
margin-right: 8px;
float: right;
color: white;
bottom: 15px;
position: absolute;
}

.heart.outline.icon {
  &::before{
    color: white !important;
  }
  
}

.title {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.twoResponseOne {
height: 300px;
background-color: #23ABAC;
}

.twoResponseTwo {
height: 300px;
background-color: #54339B;
}

.oneResponse {
height: 400px;
background-color: #23ABAC;
}

.two-one {
padding-bottom: 10px;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 310px;
  background: linear-gradient(90deg, #C04848 0%, #480048 100%);
  .tileIcon img {
    align-self: center;
    }
    .tileContent {
      align-self: start;
      width: 90%;
      bottom: 45px;
      position: absolute;
      a {
        outline: none;
        color: white !important;
        &:hover {
          text-decoration: none;
          color: #e4dede;
        }
        h5 {
          text-align: left;
          padding-left: 20px;
          &:hover {
            color: #e4dede;
          }
        }
        p {
          padding-left: 20px;
          text-align: left;
          font-size: 0.9rem;
          font-weight: lighter;
        }
      }
    }
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, #2E3192 0%, #1BFFFF 100%);
  width: 100%;
  height: 150px;
  .tileIcon {
    align-self: center;
  }
  .tileContent {
    align-self: start;
    position: absolute;
    bottom: 20px;
  }
  a {
    outline: none;
    color: white !important;
    &:hover {
      text-decoration: none;
    }
    h5 {
      text-align: left;
      font-size: 1.1rem;
      padding-left: 20px;
      &:hover {
        color: #e4dede;
      }
    }
    p {
      padding-left: 20px;
      text-align: left;
      font-size: 0.9rem;
      font-weight: lighter;
    }
  }
}

.b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, #F24645 0%, #EBC08D 100%);
  width: 100%;
  height: 150px;
  .tileIcon {
    align-self: center;
  }
  .tileContent {
    align-self: start;
    position: absolute;
    bottom: 20px;
  }
  a {
    outline: none;
    color: white !important;
    &:hover {
      text-decoration: none;
    }
    h5 {
      text-align: left;
      font-size: 1.1rem;
      padding-left: 20px;
      &:hover {
        color: #e4dede;
      }
    }
    p {
      padding-left: 20px;
      text-align: left;
      font-size: 0.9rem;
      font-weight: lighter;
    }
  }
}
// .two-one {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }
h1.lead {
  margin: 150px auto;
}

@media only screen and (max-width: 990px) {

.wrapper{
  display: block;
  // width: 100%;
}

.one {
  width: 100%;
  height: 200px;
  
}

.two {
  width: 100%;
/*     height: auto; */
/*     display: block; */
}

/*   .two-one, .two-two {
  width: 100%;
  display: block;
} */

.two .a {
  height: 200px;
  width: 100%;
  margin-top: 5%;
}

.two .b {
  height: 200px;
  width: 100%;
  margin-top: 5%;
}

.twoResponseOne {
  margin-right: 0px;
}


.twoResponseTwo {
  margin-top: 20px;
  margin-left: 0px;
}

.twoResponseOne, .twoResponseTwo {
  height: 200px;
}

.oneResponse {
  margin-right: 0px;
  margin-top: 20px;
  margin-left: 0px;
  height: 200px;
}

h1.lead {
  margin: 200px auto;
}

}
