<!-- THREE APPLICATIONS RETURNED  -->

<div class="container" *ngIf="reconmendedApps?.length == 3">
  <h3 class="ml-4 mt-4 title">Recommended Apps</h3>
  <div class="row wrapper text-center">
    <div class="firstCol col-lg-7 col-sm-8">
      <div class=" one ">
        <div class="tileIcon">
            <a [href]="reconmendedApps[0]?.AppURL">
                <img [src]="reconmendedApps[0]?.AppIcon | safeHtml" alt="icon" />
              </a>
        </div>

        <div class="tileContent">
          <a [href]="reconmendedApps[0]?.AppURL">
            <h5>{{ reconmendedApps[0]?.AppName }}</h5>
            <p>{{ reconmendedApps[0]?.AppDesc}}</p>
          </a>
        </div>

        <!-- <div class="tileSmallIcons">
          <a *ngIf="!reconmendedApps[0]?.IsFavorite">
            <i
              class="heart outline icon"
              (click)="addToFavorite(reconmendedApps[0]?.AppId)"
              mdbTooltip="Add {{ reconmendedApps[0]?.AppName }} to favorites"
            ></i>
          </a>
        </div> -->
      </div>
    </div>

    <div class="col-lg-5 col-sm-8 two">
      <div class="row two-one">
        <div class="col a">
          <div class="tileIcon">
              <a [href]="reconmendedApps[1]?.AppURL">
                  <img [src]="reconmendedApps[1]?.AppIcon | safeHtml" alt="icon" />
                </a>
          </div>

          <div class="tileContent">
            <a [href]="reconmendedApps[1]?.AppURL">
              <h5>{{ reconmendedApps[1]?.AppName }}</h5>
            </a>
          </div>

          <!-- <div class="tileSmallIcons">
            <a *ngIf="!reconmendedApps[1]?.IsFavorite">
              <i
                class="heart outline icon"
                (click)="addToFavorite(reconmendedApps[1]?.AppId)"
                mdbTooltip="Add {{ reconmendedApps[1]?.AppName }} to favorites"
              ></i>
            </a>
          </div> -->
        </div>
      </div>

      <div class="row two-two">
        <div class="col b">
          <div class="tileIcon">
              <a [href]="reconmendedApps[2]?.AppURL">
                  <img [src]="reconmendedApps[2]?.AppIcon | safeHtml" alt="icon" />
                </a>
          </div>

          <div class="tileContent">
            <a [href]="reconmendedApps[2]?.AppURL">
              <h5>{{ reconmendedApps[2]?.AppName }}</h5>
            </a>
          </div>

          <!-- <div class="tileSmallIcons">
            <a *ngIf="!reconmendedApps[2]?.IsFavorite">
              <i
                class="heart outline icon"
                (click)="addToFavorite(reconmendedApps[2]?.AppId)"
                mdbTooltip="Add {{ reconmendedApps[2]?.AppName }} to favorite"
              ></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TWO APPLICATIONS RETURNED  -->

<div class="container" *ngIf="reconmendedApps?.length == 2">
  <h3 class="ml-4 mt-4 title">Recommended Apps</h3>
  <div class="row wrapper text-center">
    <div class="col-lg-6 col-sm-12">
      <div class="twoResponseOne">
        <div class="tileIcon">
            <a [href]="reconmendedApps[0]?.AppURL">
              <img [src]="reconmendedApps[0]?.AppIcon | safeHtml" alt="icon" />
            </a>
        </div>

        <div class="tileContent">
          <a [href]="reconmendedApps[0]?.AppURL">
            <h5>{{ reconmendedApps[0]?.AppName }}</h5>
          </a>
        </div>

        <!-- <div class="tileSmallIcons">
          <a *ngIf="!reconmendedApps[0]?.IsFavorite">
            <i
              class="heart outline icon"
              (click)="addToFavorite(reconmendedApps[0]?.AppId)"
              mdbTooltip="Add {{ reconmendedApps[0]?.AppName }} to favorite"
            ></i>
          </a>
        </div> -->
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="twoResponseTwo">
        <div class="tileIcon">
          <a [href]="reconmendedApps[1]?.AppURL">
            <img [src]="reconmendedApps[1]?.AppIcon | safeHtml" alt="icon" />
          </a>
        </div>

        <div class="tileContent">
          <a [href]="reconmendedApps[1]?.AppURL">
            <h5>{{ reconmendedApps[1]?.AppName }}</h5>
          </a>
        </div>

        <!-- <div class="tileSmallIcons">
          <a *ngIf="!reconmendedApps[1]?.IsFavorite">
            <i
              class="heart outline icon"
              (click)="addToFavorite(reconmendedApps[1]?.AppId)"
              mdbTooltip="Add {{ reconmendedApps[1]?.AppName }} to favorite"
            ></i>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- ONE APPLICATION RETURNED  -->

<div class="container" *ngIf="reconmendedApps?.length == 1">
  <h3 class="ml-4 mt-4 title">Recommended Apps</h3>

  <div class="row wrapper text-center">
    <div class="col-lg-12 col-sm-12 oneResponse">
      <div class="tileIcon">
        <a [href]="reconmendedApps[0]?.AppURL">
          <img [src]="reconmendedApps[0]?.AppIcon | safeHtml" alt="icon" />
        </a>
      </div>

      <div class="tileContent">
        <a [href]="reconmendedApps[0]?.AppURL">
          <h5>{{ reconmendedApps[0]?.AppName }}</h5>
        </a>
      </div>

      <!-- <div class="tileSmallIcons">
        <a *ngIf="!reconmendedApps[0]?.IsFavorite">
          <i
            class="heart outline icon"
            (click)="addToFavorite(reconmendedApps[0]?.AppId)"
            mdbTooltip="Add {{ reconmendedApps[0]?.AppName }} to favorite"
          ></i>
        </a>
      </div> -->
    </div>
  </div>
</div>

<!-- NO APPLICATION RETURNED  -->

<div class="container" *ngIf="reconmendedApps?.length === 0">
  <h3 class="ml-4 mt-4 title">Recommended Apps</h3>
  <div class="message text-center">
    <h1 class="lead">
      No app has been has been recommended for you just yet..... Please use
      applications to see this menu.
    </h1>
  </div>
</div>
