.page-header {
    display: flex;
    align-items: center;
    // margin: 1.5rem 0 1.5rem;
    justify-content: space-between;
}
.page-title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.5rem;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    border-radius: 3px;
    background-color: none !important;
}
.form-group {
    display: block;
}

.form-group {
    margin-bottom: 1rem;
}
.form-label {
    display: block;
    margin-bottom: .375rem;
    font-weight: 600;
    font-size: 0.875rem;
}
.selectgroup-pills {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
}

.selectgroup {
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.selectgroup-pills .selectgroup-item {
    margin-right: .5rem;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.selectgroup-item {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
input.selectgroup-input {
    display: none;
}
.selectgroup-input:checked+.selectgroup-button {
    border-color: #3F51B5;
    z-index: 1;
    color: #3F51B5;
    background: #edf2fa;
}

.selectgroup-item:not(:first-child) .selectgroup-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.selectgroup-pills .selectgroup-button {
    border-radius: 50px !important;
}
.selectgroup-button {
    display: block;
    border: 1px solid #d7e7ff;
    text-align: center;
    padding: 0.375rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #9aa0ac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    min-width: 2.375rem;
}
.card-footer:last-child {
    border-radius: 0 0 calc(3px - 1px) calc(3px - 1px);
}

.card-footer {
    border-top: 1px solid #d7e7ff;
    color: #6e7687;
}
.card-footer, .card-bottom {
    padding: 1rem 1.5rem;
    background: none;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.btn {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-link {
    font-weight: 400;
    color: #3F51B5;
    background-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5a53ab;
    border-color: #5a53ab;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
div.col-md-8.col-lg-8 {
    border-right: 1px solid #d7e7ff;
}