<div class="my-3 my-md-2">
  <div class="container">
    <div class="page-header" style="margin:0px">
      <h4 class="page-title">Sign Out</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/TruVisit/receptionist']">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Sign out</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="card">
          <form class="card" [formGroup]="signOutForm">
            <div class="card-header">
              <h3 class="card-title">Visitor to sign out</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-8 col-lg-8">
                  <div class="form-group">
                    <label class="form-label"
                      >Visitor's Tag Number <small
                        > Enter Visitor tag number and press enter</small
                      ></label
                    >
                    <input
                      #tag
                      type="text"
                      class="form-control"
                      id="VisitorTagNumber"
                      (focusout)="onEnter(tag.value)"
                      name="TagNumber"
                      placeholder="Visitor's Tag Number"
                      required
                      formControlName="tagNumber"
                    />
                  </div>

                  <div class="form-group">
                    <label class="form-label">Visitor's Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="VisitorFullName"
                      name="VisitorFullName"
                      formControlName="visitorName"
                      readonly
                    />
                  </div>

                  <div class="form-group">
                    <label class="form-label">Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="PhoneNumber"
                      name="VisitorPhoneNumber"
                      formControlName="phoneNumber"
                      readonly
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="VisitorEmail"
                      name="Email"
                      formControlName="email"
                      readonly
                    />
                  </div>
                  <div class="form-group ">
                    <label class="form-label">Signed-in Devices</label>
                    <div class="selectgroup selectgroup-pills">
                      <label class="selectgroup-item">
                        <!-- <input type="checkbox" name="value" value="HP - 5CD22BY6M" class="selectgroup-input" readonly formControlName="devices"> -->
                        <span *ngIf = 'deviceType; else noDevice' class="selectgroup-button">{{deviceType}} - {{deviceSerialNo}}</span>
                        <ng-template  #noDevice>
                            <span class="selectgroup-button">No device signed In</span>
                        </ng-template>
                        
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 justify-content-center">
                    <img
                      class="img-responsive"
                      id="VisitorImage"
                      src="{{visitorImage}}"
                      width="300"
                      height="350"
                      style="margin-top: 50px;"
                    />
                  </div>
              </div>
              
            </div>
            <div class="card-footer text-right">
              <div class="d-flex">
                <a href="/vms/receptionist" class="btn btn-link">Cancel</a>
                <button
                  type="button"
                  id="signOut"
                  class="btn btn-primary ml-auto"
                  (click) = signOut(tag.value)
                >
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Sign
                  Out
                </button>
              </div>
            </div>
          </form>
          <!-- table-wrapper -->

          <!-- section-wrapper -->
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-loader [isLoading] = 'loading' ></app-loader>
