<div class="card">
  <div class="card-header">
    <h3 class="card-title">Most Visited Employees</h3>
  </div>
  <div class="card-body">
    <!-- <div id="morrisBar-graph" class="chartsh"></div> -->
    <div style="display: block;">
      <canvas
          baseChart
          [chartType]=""
          [data] = ""
          [labels]=""
          [legend]="true"
        >
      </canvas>
    </div>
  </div>
</div>