<div class="my-3 my-md-5">
  <div class="container">
    <ng-container>
      <form [formGroup]="createSearchForm">
        <mat-form-field class="padding-left">
          <input matInput [matDatepicker]="dp" placeholder="startDate" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="padding-left">
          <input matInput [matDatepicker]="db" placeholder="endDate" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
          <mat-datepicker #db></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="padding-left">
          <mat-select placeholder="Appointment Status" formControlName="status">
            <mat-option *ngFor="let ap of appointmentStatus" [value]="ap">{{ap}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="padding-left">
          <input type="number" matInput placeholder="displayLength" value="5">
        </mat-form-field>
        <button style="margin-left: 20%" mat-stroked-button color='primary'>Show</button>
      </form>
      <p>{{createSearchForm.value | json}}</p>
      <p>{{date | date}}</p>
    </ng-container>
    <mat-card><strong>Appointments</strong></mat-card>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>