<div class="content-wrapper">
  <div class="row row1">
    <div class="col-lg-5 col-md-5 col-sm-12 a">
      <!-- <p class="value">100</p> -->
      <h6 class="active">Active applications</h6>
      <p class="value">{{  allAppsCount }}</p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 b">
      <!-- <p class="value">200</p> -->
      <h6 class="inactive">Inactive application</h6>
      <p class="value">{{ InactiveAppsCount }}</p>
    </div>
  </div>

  <div class="row row2">
    <div class="col-lg-5 col-md-5 col-sm-12 c">
      <!-- <p class="value">300</p> -->
      <h6 class="allApps">All Users</h6>
      <p class="value">{{ usersCount }}</p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 d">
      <!-- <p class="value">400</p> -->
      <h6 class="allCat">All categories</h6>
      <p class="value">{{ allCategoriesCount }}</p>
    </div>
  </div>
</div>