.content-wrapper {
    //padding: 20px;
    .row1 {
        justify-content: space-around;
        .a {
            background: #6190e8; /* fallback for old browsers */
            // background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8); 
            // background: linear-gradient(to right, #6190e8, #a7bfe8); 
            background-image:  linear-gradient(rgba(115, 141, 206, 0.8), rgba(115, 141, 206, 0.9)),url('../../../../../assets/Images/mercury.png');
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);
            margin: 5px;
            p.percent{
                // float: right;
                padding-bottom: 10px;
            }
            p.value {
                margin-bottom: 10px;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 0 !important;
                padding: 0 !important;
                font-weight: bold;
                color: cornsilk;
            }
            h6.active {
                color: white;
                font-size: 0.9rem !important;
                margin-top: 15px;
                margin-bottom: 25px;
                font-weight: bold;
            }
        }
        .b {           
            background: #e96443; /* fallback for old browsers */
            // background: -webkit-linear-gradient(to right, #e96443, #904e95); 
            // background: linear-gradient(to right, #e96443, #904e95); 
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);
            margin: 5px;
            p.percent{
                // float: right;
                padding-bottom: 10px;
            }
            p.value {
                margin-bottom: 10px;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 0 !important;
                padding: 0 !important;
                font-weight: bold;
                color: cornsilk;
            }
            h6.inactive {
                color: white;
                font-size: 0.9rem !important;
                margin-top: 15px;
                margin-bottom: 25px;
                font-weight: bold;
            }
        }
    }
    .row2 {
        justify-content: space-around;
        .c {
            background: #76b852; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #76b852, #8dc26f); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #76b852, #8dc26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);
            margin: 5px;
            p.percent{
                //float: right;
                padding-bottom: 10px;
            }
            p.value {
                margin-bottom: 10px;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 0 !important;
                padding: 0 !important;
                font-weight: bold;
                color: cornsilk;
            }
            h6.allApps {
                color: white;
                font-size: 0.9rem !important;
                margin-top: 15px;
                margin-bottom: 25px;
                font-weight: bold;
            }
        }
        .d {
            background: #1e3c72; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #1e3c72, #2a5298); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #1e3c72, #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);
            margin: 5px;
            p.percent{
                // float: right;
                padding-bottom: 10px;
            }
            p.value {
                margin-bottom: 10px;
                text-align: center;
                font-size: 1.5rem;
                margin-top: 0 !important;
                padding: 0 !important;
                font-weight: bold;
                color: cornsilk;
            }
            h6.allCat {
                color: white;
                font-size: 0.9rem !important;
                margin-top: 15px;
                margin-bottom: 25px;
                font-weight: bold;
            }
        }
    }
    
}
