<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
  <mdb-icon fas icon="bars" style="font-size: 20px; margin: 10px; color:#235E8E"></mdb-icon>
</a>
<div class="Klast-navbar" id="headerMenuCollapse">
  <div class="container">
    <ul class="nav">
      <li class="nav-item" *ngIf='isReceptionist'>
        <a class="nav-link" [routerLink]="['/TruVisit/receptionist']">
          <i class="ti ti-home"></i>
          <span>Receptionist Portal </span>
        </a>
      </li>
      <li class="nav-item" *ngIf='isAdmin'>
            <a class="nav-link" [routerLink]="['/TruVisit/admin']">
              <i class="ti ti-home"></i>
              <span>Admin Portal </span>
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/TruVisit/staff/dashboard']">
          <i class="ti ti-home"></i>
          <span> Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/TruVisit/staff/createAppointment']">
          <i class="ti ti-calendar"></i> <span>Make an Appointment</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/TruVisit/staff/manage-appointment']">
          <i class="ti ti-pencil"></i> <span>Manage Appointments</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/TruVisit/staff/visitorlog']"
          ><i class="ti ti-face-smile"></i><span>Visitor Log</span></a
        >
      </li>
    </ul>
  </div>
</div>
