html, body {
    min-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: #E5E5E5;
    height: 100vh;
}

.header {
    height: 20%;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    background: linear-gradient(180deg, rgba(66, 48, 199, 0.95) 0%, rgba(62, 44, 195, 0.95) 10.5%, rgba(57, 39, 191, 0.95) 22.1%, rgba(53, 35, 188, 0.95) 32.6%, rgba(48, 30, 184, 0.95) 44.2%, rgba(42, 25, 179, 0.95) 57.46%, rgba(37, 19, 174, 0.95) 71.27%, rgba(30, 13, 169, 0.95) 86.74%, rgba(25, 8, 164, 0.95) 100%);
    border-radius: 1px;
}

form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100% !important;
    
}

.search {
    width: 50% !important;
}

.row {
    height: 65%;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 90px 150px;
    /* margin: 90px; */
}

.wrapper > div {
    background: #eee;
    padding: 1em;
    border-radius: 1px;
}



/* .wrapper::before { 
    content: "Read this -";
    background-color: yellow;
    color: red;
    font-weight: bold;
    font-size: 10pt;
} */

.wrapper .one {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color:  #23ABAC;

}

.wrapper .two {
    background-color: #54339B;
}

.wrapper .three {
    background-color: #FABB62;
}

.showAllApps {
    height: 15%;
    position: relative;
    /* border: 2px solid black; */
    width: 100%;
}

.showAppsBtn {
    bottom: 0;
    left: 44%;
    position: absolute;
    height: 90px;
    width: 180px;
    border: 2px solid lightblue;
    border-top-right-radius: 180px ;
    border-top-left-radius: 180px;
    /* background-color: grey;    */
}

i.angle {
    margin: 305px auto;
}

.next {
    float: left;
}

.previous {
    float: right;
}


.showAppsBtn:hover {
    -webkit-animation-name: changeColor; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: s6; /* Safari 4.0 - 8.0 */
    animation-name: changeColor;
    animation-duration: 6s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes changeColor {
    0%   {border: 1px solid red;}
    25%  {border: 1px solid yellow;}
    50%  {border: 1px solid blue;}
    100% {border: 1px solid green;}
}

/* Standard syntax */
@keyframes changeColor {
    0%   {border: 1px solid red;}
    25%  {border: 1px solid yellow;}
    50%  {border: 1px solid blue;}
    100% {border: 1px solid green;}
}

@media screen and  (max-width: 1100px){

    .header {
        height: 15%;
    }

    .row{
        height: 70%;
    }

    .wrapper{
        display: block;
        height: 100%;
        padding: 0px;
    }

    .wrapper > div {
        height: 30%;
        padding: 8px !important;
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .one {
        background-color:  #23ABAC;
    }

    .two {
        background-color: #54339B;
    }

    .three {
        background-color: #FABB62;
    }

    .showAllApps {
        height: 15%;
        position: relative;
        /* border: 2px solid black; */
        width: 100%;
    }

    .showAppsBtn {
        bottom: 0;
        left: 35%;
        position: absolute;
        height: 60px;
        width: 120px;
        border: 2px solid lightblue;
        border-top-right-radius: 120px;
        border-top-left-radius: 120px;
        background-color: none !important;
        text-align: center;   
    }

    .previous, .next {
        display: none;
    }
    i.angle {
        display: none;
    }


}
