<div class="sw-error mt-5">
    <p class="uk-text-warning message alert-danger amber rounded p-4">
      <!-- <i class="far fa-exclamation-circle fa-3x"></i><br> -->
      <span class="text-dark h6"></span><br>
      <button class="mt-3" color="warn">
          Refresh page</button>
    </p>
  </div>

  <!-- <div *ngIf="errorMessage" class="sw-error mt-5">
      <p class="uk-text-warning message alert-danger amber rounded p-4">
        <span class="text-dark h6">{{errorMessage}}</span><br>
        <button class="mt-3" color="warn" (click)="refresh()" mat-raised-button>
            Refresh page</button>
      </p>
    </div> -->