<div class="my-3 my-md-5">
    <div class="container">
      
      <ng-container *ngIf="!errorMessage; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
      <ng-container>
          <form [formGroup]="createSearchForm">
    
            <!-- StartDate Field -->
            <mat-form-field class="padding-left">
              <input matInput [matDatepicker]="dp" (focus)= "dp.open()" placeholder="Date From" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
    
            <!-- EndDate Field -->
            <mat-form-field class="padding-left">
              <input matInput [matDatepicker]="db" (focus)= "db.open()" placeholder="Date To" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
              <mat-datepicker #db></mat-datepicker>
            </mat-form-field>
    
            <!-- Appoinment Status Field -->
            <mat-form-field class="padding-left">
              <mat-select placeholder="Appointment Status" formControlName="status">
                <mat-option *ngFor="let ap of appointmentStatus" [value]="ap.value">{{ap.appoinmentStatus}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Display Length Field -->
            <mat-form-field class="padding-left">
              <input type="number" min="1" matInput placeholder="displayLength" formControlName="displayLength">
            </mat-form-field>
            <button (click)='submitAppointment()' [disabled]='!createSearchForm.valid' style="margin-left: 20%"
              mat-stroked-button color='primary'>Show</button>
          </form>
    
        </ng-container>
        <!-- Form Ends Here -->
        <!-- Filter current display data starts here -->
        <mat-form-field class="filter">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter No's of Appointments">
        </mat-form-field>
        <!-- Filter ends here -->
        <mat-card><strong>Appointments</strong></mat-card>
        <div class="mat-elevation-z8">
          <table mat-table class="text-center" [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="staffId">
              <th mat-header-cell class="text-center" *matHeaderCellDef>StaffId</th>
              <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="visitorName">
              <th mat-header-cell class="text-center" *matHeaderCellDef>Name </th>
              <td mat-cell *matCellDef="let element"> {{element.visitorName}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell class="text-center" *matHeaderCellDef> Phone</th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="location">
              <th mat-header-cell class="text-center" *matHeaderCellDef> Location </th>
              <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>
    
            <ng-container matColumnDef="email">
              <th mat-header-cell class="text-center" *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
    
            <ng-container matColumnDef="date">
              <th mat-header-cell class="text-center" *matHeaderCellDef> Date </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
              <th mat-header-cell class="text-center" *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list *ngIf='element.status == 1' style="margin-left: 15px;">
                  <mat-chip color="accent" selected>Pending</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf='element.status == 2'style="margin-left: 15px;">
                  <mat-chip color="primary" selected>Visited</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf='element.status == 3' style="margin-left: 15px;">
                  <mat-chip color="danger" selected>Cancelled</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf='element.status == 4' style="margin-left: 15px;">
                  <mat-chip color="green" selected>Signed In</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="company">
              <th mat-header-cell class="text-center" *matHeaderCellDef>Company</th>
              <td mat-cell *matCellDef="let element"> {{element.company}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
          <app-loader [isLoading]="loading"></app-loader>
        </div>
  </ng-template>
  <ng-template #elseTemplate>
      <app-error [errorMessage]="errorMessage"></app-error>
  </ng-template>
    </div>
  </div>
  
  
  
  