.footer {
    background: #fff;
    border-top: 1px solid #d7e7ff;
    font-size: 0.875rem;
    padding: 1.25rem 0;
    color: #5e7cac;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer .social ul li {
    float: left;
    padding: 7px;
}

.footer .social ul li a {
    color: #5e7cac;
}

.footer .social {
    margin: 0 auto;
}

.footer a:not(.btn) {
    color: #466694;
}
ul.text-center {
    list-style: none;
}

@media print {
    .footer {
        display: none;
    }
}