<!-- Footer -->
<footer class='footer'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-sm-12  col-md-5 mt-3 mt-lg-0 text-center d-none d-md-block">
        <div class="social">
          <ul class="text-center">
            <li>
              <a class="social-icon" href="https://www.facebook.com/FidelityBankplc/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a class="social-icon" href="https://twitter.com/fidelitybankplc" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a class="social-icon" href="https://www.youtube.com/user/fidelitybankplc" target="_blank"><i class="fa fa-youtube"></i></a>
            </li>
            <li>
              <a class="social-icon" href="https://ng.linkedin.com/company/fidelitybankplc" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a class="social-icon" href="https://www.instagram.com/fidelitybankplc/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-md-7 mt-3 mt-lg-0 text-center">
        Copyright © {{year}} <a href="#">trueVisit</a>. With <i class="fa fa-heart blink text-danger"></i> from <a class="text-success">Fidelity Bank Digital LAB</a> All rights reserved.
      </div>
    </div>

  </div>

</footer>
<!-- Footer -->
