<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
    <mdb-icon fas icon="bars" style="font-size: 20px; margin: 10px; color:#235E8E"></mdb-icon>
</a>
<div class="Klast-navbar" id="headerMenuCollapse">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/staff']"><i class="fa fa-building" aria-hidden="true"></i><span style="font-size:px; margin-right: 15px">Staff Portal</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist']"><i class="fa fa-home" aria-hidden="true"></i><span style="font-size:px; margin-right: 15px">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist/statistics']"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Statistics</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist/signin']" ><i class="fa fa-user-plus" aria-hidden="true"></i><span>Sign In</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist/signout']" ><i class="fa fa-user-times" aria-hidden="true"></i><span>Sign Out</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist/appointments']" ><i class="fa fa-calendar-check-o" aria-hidden="true"></i><span>Appointments</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist/non-compliance']" ><i class="fa fa-window-close-o" aria-hidden="true"></i><span>Report Non-Compliance</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/TruVisit/receptionist/visitorlog']" ><i class="fa fa-table" aria-hidden="true"></i><span>Visitor Log</span></a>
            </li>
            <!-- <li class="nav-item" *ngIf='isSuperAdmin '>
                <a class="nav-link" [routerLink]="['/vms/admin']"><i class="fa fa-home" aria-hidden="true"></i><span style="font-size:px; margin-right: 15px">Admin Portal</span></a>
            </li> -->
            <!-- <li class="nav-item" *ngIf='isAdmin'>
                <a class="nav-link" [routerLink]="['/TruVisit/admin']"><i class="fa fa-building" aria-hidden="true"></i><span style="font-size:px; margin-right: 15px">Admin Portal</span></a>
            </li> -->
        </ul>
    </div>
</div>