<div class="my-3 my-md-5" >
  <div class="container">
    <!-- Form Starts Here -->
    <ng-container>
      <form [formGroup]="createSearchForm">
        <!-- StartDate Field -->
        <mat-form-field class="padding-left"  style="width: 150px">
            <input
              matInput
              [matDatepicker]="db"
              (focus)= "db.open()"
              placeholder="Date From"
              formControlName="startDate"
            />
            <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
            <mat-datepicker #db></mat-datepicker>
          </mat-form-field>

        <!-- EndDate Field -->
        <mat-form-field class="padding-left" style="width: 150px">
          <input
            matInput
            [matDatepicker]="dp"
            (focus)= "dp.open()"
            placeholder="Date To"
            formControlName="endDate"
          />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        
        <!-- Display Length Field -->
        <mat-form-field class="padding-left"  style="width: 150px">
          <input
            type="number"
            matInput
            placeholder="displayLength"
            value="5"
            formControlName="displayLength"
          />
        </mat-form-field>
        <!--Visitor Status -->
        <mat-form-field class="padding-left"  style="width: 150px">
          <mat-select placeholder="Visitor Status" formControlName="visitorStatus">
            <mat-option value="Signed in">Signed in</mat-option>
            <mat-option value="Signed out">Signed out</mat-option>
          </mat-select>
        </mat-form-field>
        <button 
          style="margin-left: 10%; outline: none" 
          mat-stroked-button color="primary"
          (click) = fetchVisitorLog(createSearchForm.value)
        >
          Search Record
        </button>
      </form>
    </ng-container>
    <!-- Form Ends Here -->
    <!-- Filter current display data starts here -->
    <mat-form-field class="filter" style="width: 40%">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <!-- Filter ends here -->
    <mat-card><strong>Visitor Log</strong></mat-card>
    <div class="mat-elevation-z8">
      <table mat-table class="text-center" [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Visitor</th>
          <td mat-cell *matCellDef="let element">{{ element.VisitorName }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let element">
            {{ element.VisitorCompany }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
        </ng-container>

        <!-- Phone number -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element.PhoneNumber }}</td>
        </ng-container>

        <!-- Purpose -->
        <ng-container matColumnDef="purpose">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Purpose</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list *ngIf='element.Purpose == 1' style="margin-left: 15px;">
              <span class="badge badge-pill badge-success">Personal</span>
            </mat-chip-list>            
            <mat-chip-list *ngIf='element.Purpose == 2' style="margin-left: 15px;">
              <span class="badge badge-pill badge-primary">Official</span>
            </mat-chip-list>            
            <mat-chip-list *ngIf='element.Purpose == 3' style="margin-left: 15px;">
                <span class="badge badge-pill badge-secondary">Other</span>
            </mat-chip-list>            
          </td>
        </ng-container>

        <!-- Time out -->
        <ng-container matColumnDef="timeIn">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Time in</th>
          <td mat-cell *matCellDef="let element">{{ element.TimeIn?.slice(11,19) }}</td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="timeOut">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Time out</th>
          <td mat-cell *matCellDef="let element">{{ element.TimeOut?.slice(11,19) }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
<app-loader [isLoading]= 'loading' ></app-loader>
