td .mat-cell {
    padding-right: 20px !important;
}
th {
    padding: 5px !important;
    font-weight: bold !important;
}
mat-form-field .filter {
    width: 40% !important;
}
div.mat-form-field-infix {
    width: 100px !important;
}