<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-overlay">Open</button> -->
  <!-- <span class="uk-margin-small-right" uk-icon="menu"  ></span> -->
  <!-- <i class="fa fa-bars" uk-toggle="target: #offcanvas-overlay"></i> -->

  <!-- <i class="align left icon" uk-toggle="target: #offcanvas-overlay"></i> -->
  <img src="./assets/Images/ISS Menu.svg" uk-toggle="target: #offcanvas-overlay" alt="" class="align left icon">

  <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <span>
        <img id="introImage" src="./assets/Images/satellite.png" alt="">
        <span id="intro">by Digital Lab</span>
      </span>
      <hr>
      <div class="home">
        <a routerLink="/">
          <img id="homeImage" src="./assets/Images/galaxy.png" alt="">
          <span id="homeText">Take me back to the galaxy </span>
        </a>
      </div>
      <div class="manageApp">
        <a  [routerLink]="['/admin/manage']">
          <i class="calendar outline icon"></i>
          <span id="manageapp">Manage</span>
        </a>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-lg-0">
      <li class="nav-item">
        <a class="nav-link item1" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link item1" routerLink="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link item2">Docs</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link item3" [routerLink]="['/admin/manage']">Manage</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item">
        <a class="nav-link item1">Hello, {{ userName }} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
