nav {
    // background-image: linear-gradient(to right bottom, #5c1d49, #541e4d, #4b1f50, #412053, #362155);
    // border-radius: 1px;
    background: linear-gradient(270deg, rgba(54, 33, 85, 0.95) 50%, rgba(66, 38, 91, 0.95) 70.35%, rgba(76, 41, 96, 0.95) 90%, rgba(92, 47, 104, 0.95) 99.44%, rgba(92, 47, 104, 0.95) 100%);
    border-radius: 1px;
    padding: 10px;
    margin-bottom: 0 !important;
}
.nav-item {
    // font-weight: 400;
    // line-height: normal;
    // font-size: 1rem;
    .item2 {
        color: #E559B9
    }
    margin: 0 15px;
}
.fa.fa-bars {
    font-size: 30px;
    color: white;
    font-weight: normal;
    &:before {
        background-color: rgba(255,255,255, 0.3);
        padding: 5px 10px;
        border-radius: 2px;
    }
}
.align.left.icon {
    font-size: 2rem;
    color: white;
    //margin-bottom: 15px;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.3) !important;
    padding: 8px;
    border-radius: 2px;
    // &:before {
    //     background-color: rgba(255,255,255, 0.3) !important;
    //     padding: 5px 15px 5px 10px;
    //     border-radius: 2px;
    // }
}
.menuIcon {
    // position: absolute;
    // width: 38px;
    // height: 25px;
    // left: 26px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    cursor:pointer;

    .icon {
        font-size: 18px;
        color: white;
        margin: 0 6px;
    }
}
#offcanvas-overlay {
    #introImage {
        height: 30px;
        padding-right: 20px;
    }
    span #intro {
        color: #888B8D !important;
    }
    hr {
        background-color: #3621558c !important;
    }
    .home {
        cursor: pointer;
        .uk-offcanvas-close.uk-close.uk-icon {
            position: absolute !important;
            margin-top: 70px !important;
        }
    }
    #homeImage {
        height: 20px;
        padding-right: 10px;
    }
    #homeText {
        color: #44444B;
        font-size: 0.9rem;
    }
    .assignRole {
        margin-top: 20px;
        .user.circle.outline.icon {
            color: #44444B;
            font-size: 20px;
        }
        #addUser {
            color: #44444B;
            font-size: 0.9rem;
            margin: 5px;
            position: absolute;
        }
    }
    .manageApp {
        margin-top: 20px;
        .calendar.outline.icon {
            color: #44444B;
            font-size: 20px;
        }
        #manageapp {
            color: #44444B;
            font-size: 0.9rem;
            margin: 5px;
            position: absolute;
        }
    }
}
.uk-open>.uk-offcanvas-bar {
    width: 250px !important;
    padding: 20px !important;
}
.uk-offcanvas-bar {
    background: #F1F1F2 !important;
}
button.uk-offcanvas-close.uk-close.uk-icon {
    color: #44444B;
    cursor: pointer;
}

// Media queries
@media only screen and (max-width: 600px) {
    .align.left.icon {
        display: none;
    }
}
@media only screen and (max-width: 960px) {
    .align.left.icon {
        display: none;
    }
}