<div class="my-3 my-md-5" >
  <div class="container">
    <!-- Form Starts Here -->
    <ng-container>
      <form [formGroup]="createSearchForm">
        <!-- StartDate Field -->
        <mat-form-field class="padding-left">
          <input matInput [matDatepicker]="dp" (focus)= "dp.open()" placeholder="Date From" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>

        <!-- EndDate Field -->
        <mat-form-field class="padding-left">
          <input matInput [matDatepicker]="db" (focus)= "db.open()" placeholder="Date To" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
          <mat-datepicker #db></mat-datepicker>
        </mat-form-field>

        <!-- Display Length Field -->
        <mat-form-field class="padding-left">
          <input type="number" min="1" matInput placeholder="displayLength" value="5" formControlName="displayLength">
        </mat-form-field>
        <button style="margin-left: 20%" (click)="submitVisitorLog()" [disabled]="!createSearchForm.valid"
          mat-stroked-button color='primary'>Show</button>
      </form>
      <!-- <p>{{createSearchForm.value | json}}</p>
        <p>{{date}}</p> -->
    </ng-container>
    <!-- Form Ends Here -->
    <!-- Filter current display data starts here -->
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter your visitor log">
    </mat-form-field>
    <!-- Filter ends here -->
    <mat-card><strong>Visitor Log</strong></mat-card>
    <div class="mat-elevation-z8">
      <table mat-table class="text-center" [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="visitorName">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Visitor Name</th>
          <td mat-cell *matCellDef="let element"> {{element.visitorName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="picture">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Picture </th>

          <td mat-cell *matCellDef="let element"><img src="{{element.picture}}" alt="No Image"></td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Company </th>
          <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="purpose">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Purpose of visit</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list *ngIf='element.purpose == 1' style="margin-left: 15px;">
              <span class="badge badge-pill badge-success">Personal</span>
            </mat-chip-list>
            <mat-chip-list *ngIf='element.purpose == 2' style="margin-left: 15px;">
              <span class="badge badge-pill badge-primary">Official</span>
            </mat-chip-list>
            <mat-chip-list *ngIf='element.purpose == 3' style="margin-left: 15px;">
              <span class="badge badge-pill badge-secondary">Other</span>
            </mat-chip-list>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="timeIn">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Signed In </th>
          <td mat-cell *matCellDef="let element"> {{element.timeIn | date : 'medium'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="timeOut">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Signed out</th>
          <td mat-cell *matCellDef="let element"> {{element.timeOut | date : 'medium'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      <app-loader [isLoading]="loading"></app-loader>
    </div>
  </div>
</div>
<app-error [errorMessage]="errorMessage"></app-error>