<ng-container>
  <div class="row" *ngFor="let category of categories">

    <div class="col-lg-12 category-header">
      <h4>{{category.name}}</h4>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let app of category.apps">
      <div>
        
          <div class="uk-card uk-card-default">
          <a href="{{ app.AppUrl}}" target="_blank">
            <div class="uk-card-media-top card1-header">
              <img src="{{app.AppIcon}}" alt="edu">
            </div>
            <div class="uk-card-body">
              <img src="./assets/Images/24-hours.png" alt="">
              <h3 class="uk-card-title">{{app.AppName}}</h3>
            </div>
          </a>
            <div class="uk-card-footer clearfix">
              <div class="left">
                <!-- <a href="" uk-icon="heart" class=" heart left uk-icon-button"></a> -->
                <!-- <p class="right context-menu">...</p> -->
              </div>

              <div class="right">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M10.0001 18.3333C14.6025 18.3333 18.3334 14.6024 18.3334 10C18.3334 5.39763 14.6025 1.66667 10.0001 1.66667C5.39771 1.66667 1.66675 5.39763 1.66675 10C1.66675 14.6024 5.39771 18.3333 10.0001 18.3333Z"
                      stroke="#B1BAC3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10 6.66666V10" stroke="#B1BAC3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="20" height="20" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
     
      </div>
    </div>
  </div>

</ng-container>
