<div class="my-3 my-md-5" style="height:64vh">
    <div class="container">
  
      <ng-container *ngIf="!errorMessage; then reportComplianceFormTemplate; else errorTemplate"></ng-container>
      <ng-template #reportComplianceFormTemplate>
        <div class="row">
  
          <div class="col-md-12 col-lg-12">
            <div class="card">
              <form class="card" [formGroup]="reportComplianceForm">
                <div class="card-header">
                  <h3 class="card-title">Report Non Compliance</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="form-group" style="width: 100%">
                        <mat-form-field style="width: 100%">
                          <input #v (click)="clearInput(); v.blur()" class="sw-field form-control-center" type="text"
                            placeholder="Choose a host name" aria-label="Movie List" matInput formControlName="staffName"
                            [matAutocomplete]="hostName">
                          <mat-autocomplete #hostName="matAutocomplete">
                            <mat-option (click)="onSelect(user)" *ngFor="let user of filteredList | async" [value]="user.staffName">
                              {{user?.staffName}}({{user?.branchName}})
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
  
                      </div>
                      <div class="form-group">
                        <mat-form-field class="filter">
                          <mat-select placeholder="Pick an Issue" formControlName="pickIssue">
                            <mat-option value="Brought an unregistered visitor">Brought an unregistered visitor</mat-option>
                            <mat-option value="Others">Others</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field class="filter">
                          <textarea formControlName="comment" matInput matTextareaAutosize Rows="3" pattern="^([a-zA-Z0-9 ])+$" placeholder="Comment"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <div class="d-flex">
                    <button (click)="postReportNonCompliance()" [disabled]="!reportComplianceForm.valid" type="submit" id="signOut"
                      class="btn btn-primary ml-auto"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Submit</button>
                  </div>
  
                </div>
  
              </form>
              <!-- table-wrapper -->
  
              <!-- section-wrapper -->
              <app-loader [isLoading]="loading"></app-loader>
            </div>
          </div>
        </div>
      </ng-template>
      
      <ng-template #errorTemplate>
        <app-error [errorMessage]="errorMessage"></app-error>
      </ng-template>
    </div>
  </div>
  
  