<app-header></app-header>
<div class="date" style = "font-family: 'Lato', sans-serif;">
  <p class='shortTime'>{{ now |date: 'shortTime' }}</p>
  <p class='fullDate'>{{ now  | date: 'fullDate'  }}</p>
</div>
<div class="homepage">
<div class="bg"></div>
  <div class="row content">
    <div class="col-lg-1 scroll">
      <i
        class="angle left icon previous"
        (click)="switchComponent('backward')"
      ></i>
    </div>

    <div class="col-lg-10 col-sm-12" [ngSwitch]="num">
      <ng-template [ngSwitchCase]="0">
        <div @fade>
          <app-recommended-apps></app-recommended-apps>
        </div>
      </ng-template>

      <!-- <ng-template [ngSwitchCase]="1">
        <div @fade>
          <app-recently-used></app-recently-used>
        </div>
      </ng-template> -->

      <ng-template [ngSwitchCase]="1">
        <div @fade>
          <app-recommended-apps></app-recommended-apps>
          <!-- <app-favourite-apps></app-favourite-apps> -->
          <!-- <app-featured-apps></app-featured-apps> -->
        </div>
      </ng-template>
    </div>

    <div class="col-lg-1 scroll">
      <i
        class="angle right icon next"
        (click)="switchComponent('backward')"
      ></i>
    </div>
  </div>

  <!-- <div class="gotoAllApps">
    <a routerLink="/allapps">
      <button class="ui google plus button AllApps">
        View All Apps
      </button>
    </a>
  </div> -->
</div>
<!-- <div class="showAllApps">

        <a href="#">
            <div class="showAppsBtn">
            </div>
        </a>

    </div>  -->

<!-- <app-header></app-header>

<div class="row content">

    <div class="col-sm-1 next">
        <i class="angle double down icon previous" (click)="switchComponent('backward')"></i>
    </div>

    <div class="col-sm-10 appGroups" [ngSwitch]="num">

      <ng-template [ngSwitchCase]="0">
        <div @fade>
          <app-recently-used></app-recently-used>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="1">
        <div @fade>
          <app-recommended-apps></app-recommended-apps>
        </div>
      </ng-template>


      <ng-template [ngSwitchCase]="2">
        <div @fade>
          <app-featured-apps></app-featured-apps>
        </div>
      </ng-template>

    </div>

    <div class="col-sm-1 pre">
        <i class="angle double down icon next" (click)="switchComponent('forward')"></i>
    </div>

</div> -->
