
.content {
  // height: 75%;
  margin-right: 0 !important;
}
.AllApps {
    margin:50px;
}
.homepage {
    font-family: 'Lato', sans-serif;
    // background: url('https://res-console.cloudinary.com/horlabyc/thumbnails/v1/image/upload/v1553075222/R3JvdXBfMjJfMV9mcjZkamY=/grid');
    background: url('../../../assets/Images/Rocket.svg');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
}
// .bg {
// 	position: absolute;
// 	background: url("https://res-console.cloudinary.com/horlabyc/thumbnails/v1/image/upload/v1553072453/RnJhbWVfd3d1b3dk/grid") repeat-x;
// 	opacity: 1;
// 	background-repeat: no-repeat;
//   background-size: 1000px;
//   background-position: center;
// 	animation: moveTwo 15s infinite forwards ease-in-out
// }

.date {
  padding-right: 130px;
  text-align: right;
  padding-top: 15px;
  .shortTime {
    font-size: 2.2rem;
    color: black;
    margin: 0;
    letter-spacing: 4px;
  }
  .fullDate {
    font-size: 0.8rem;
    color: gray;
  }
}

.angle.left.icon.previous, .angle.right.icon.next {
  &::before{
  color: black;
  font-size: 2.5rem;
  font-weight: lighter;
  }
}

.showAllApps {
  height: 5%;
  position: relative;
  /* border: 2px solid black; */
  width: 100%;
}

.showAppsBtn {
  bottom: 0;
  left: 44%;
  position: absolute;
  height: 90px;
  width: 180px;
  border: 2px solid lightblue;
  border-top-right-radius: 180px ;
  border-top-left-radius: 180px;
  /* background-color: grey;    */
}

i.angle {
  margin: 200px auto;
  font-size: 35pt;
  cursor: pointer;
}

.next {
  float: left;
  cursor: pointer;
}

.previous {
  float: right;
  cursor: pointer;
}


.showAppsBtn:hover {
  -webkit-animation-name: changeColor; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: s6; /* Safari 4.0 - 8.0 */
  animation-name: changeColor;
  animation-duration: 6s;
}

.gotoAllApps {
   // margin-top: 40px;
    text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes changeColor {
  0%   {border: 1px solid red;}
  25%  {border: 1px solid yellow;}
  50%  {border: 1px solid blue;}
  100% {border: 1px solid green;}
}

/* Standard syntax */
@keyframes changeColor {
  0%   {border: 1px solid red;}
  25%  {border: 1px solid yellow;}
  50%  {border: 1px solid blue;}
  100% {border: 1px solid green;}
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: .8rem;
    margin: 5px;
  }
    

@media screen and  (max-width: 1100px){

  .header {
      height: 20%;
  }

  .content{
      height: 70%;
  }

  .time-date {
      display: none;
  }

  .wrapper{
      display: block;
      height: 100%;
      padding: 0px;
  }

  .wrapper > div {
      height: 30%;
      padding: 8px !important;
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
  }

  .one {
      background-color:  #23ABAC;
  }

  .two {
      background-color: #54339B;
  }

  .three {
      background-color: #FABB62;
  }

  .showAllApps {
      height: 10%;
      position: relative;
      /* border: 2px solid black; */
      width: 100%;
      display: none;
  }

  .showAppsBtn {
      bottom: 0;
      left: 35%;
      position: absolute;
      height: 60px;
      width: 120px;
      border: 2px solid lightblue;
      border-top-right-radius: 120px;
      border-top-left-radius: 120px;
      background-color: none !important;
      text-align: center;   
  }

  .previous, .next {
      display: none;
  }
  i.angle {
      display: none;
  }

  .scroll {
      display: none;
  }

    .gotoAllApps {
        margin-top: 5px;
        text-align: center;
    }


}

