.uk-card-body {
    padding: 10px 30px 20px 30px!important;
    border-radius: 0.5rem;
    //margin: 20px;
    p {
        color: rgba(68, 68, 75, 0.94);
        font-weight: bold;
        font-size: 0.9rem;
    }
}
.uk-table {
    border: 1px solid lightgrey !important;
    td {
        padding: 10px 12px !important;
        font-weight: bold !important;
        width: 172px !important;
        .uk-badge {
            font-size: 0.75rem !important;
            border-radius: 3px !important;
            padding: 0 15px !important;            
        }
    }
    th {
        font-size: 0.72rem !important;
    }
}
