<div class="uk-card uk-card-default uk-card-body">
  <p>Category Activity</p>
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>NAME</th>
          <th>APP</th>
          <th>USER</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="uk-badge" id="finance" style="background: linear-gradient(109.15deg, rgba(233, 46, 85, 0.85) 32.02%, rgba(241, 70, 97, 0.85) 57.93%, rgba(248, 90, 108, 0.85) 80.47%, rgba(254, 108, 117, 0.85) 100%) !important;">Finance</span>
          </td>
          <td>10</td>
          <td>200</td>
        </tr>
        <tr>
          <td>
            <span class="uk-badge" id="finance" style="background: linear-gradient(109.15deg, rgba(22, 40, 227, 0.85) 32.02%, rgba(82, 86, 201, 0.85) 100%) !important;">Utility</span>
          </td>
          <td>5</td>
          <td>150</td>
        </tr>
        <tr>
          <td>
            <span class="uk-badge" id="finance" style="background: linear-gradient(109.15deg, rgba(76, 67, 184, 0.85) 32.02%, rgba(108, 100, 191, 0.85) 56.81%, rgba(135, 128, 197, 0.85) 77.84%, rgba(163, 158, 204, 0.85) 100%)!important;">Analytics</span>
          </td>
          <td>2</td>
          <td>20</td>
        </tr>
        <tr>
          <td>
            <span class="uk-badge" id="finance" style="background: linear-gradient(109.15deg, rgba(170, 139, 181, 0.85) 32.02%, rgba(160, 133, 183, 0.85) 53.05%, rgba(146, 125, 185, 0.85) 81.6%, rgba(137, 120, 187, 0.85) 100%) !important;">Info. Center</span>
          </td>
          <td>2</td>
          <td>20</td>
        </tr>
        <tr>
          <td>
            <span class="uk-badge" id="finance" style="background: linear-gradient(109.15deg, rgba(235, 89, 17, 0.85) 32.02%, rgba(195, 90, 62, 0.85) 100%) !important;">L & D</span>
          </td>
          <td>2</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
