.Klast-navbar {
    background: #fff;
    box-shadow: 0 10px 40px 0 rgba(18, 106, 211, .07), 0 2px 9px 0 rgba(18, 106, 211, .06);
}
.Klast-navbar .container {
    position: relative;
}

.Klast-navbar .nav {
    padding: 0;
    margin: 0;
}

.Klast-navbar .nav .nav-link {
    position: relative;
}
.active-link {
    color: #183768 !important;
}
.nav-item .nav-link:hover .mega-dropdown .nav-item .nav-link .sub-item {
    display: block;
}

.nav-link:hover .sub-item,
.nav-item:hover .sub-item {
    display: block;
}

.nav-link:hover .sub-item {
    display: block;
}

.Klast-navbar .nav-item {
    text-align: center;
    position: static;
}

@media (min-width: 992px) {
    .Klast-navbar .nav-item {
        position: relative;
    }
}

.Klast-navbar .nav-item.active .nav-link {
    background-color: #fff;
    background-repeat: repeat-x;
    border-width: 0;
    color: #8e2de2;
}

.Klast-navbar .nav-item.active .nav-link .icon {
    color: #8e2de2;
}

.Klast-navbar .nav-item.active+.nav-item .nav-link {
    border-left-width: 0;
}

.Klast-navbar .nav-item:last-child .nav-link {
    border-right-width: 1px;
}

.Klast-navbar .nav-item.with-sub>a::after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-weight: 400;
    margin-left: 4px;
    margin-top: 0;
    opacity: .7;
}

@media (min-width: 992px) {
    .Klast-navbar .nav-item.with-sub>a::after {
        margin-left: 8px;
    }
}

.Klast-navbar .nav-item.with-sub:hover>.sub-item,
.Klast-navbar .nav-item.with-sub:focus>.sub-item {
    display: block;
}

.Klast-navbar .nav-link {
    border: 0;
    color: inherit;
    color: #5e7cac;
    transition: .3s border-color;
    font-weight: 500;
    padding: 1rem 1.52rem;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-width: 0;
   /* text-transform: uppercase;*/
}

.Klast-navbar .nav-link .icon {
    font-size: 21px;
    line-height: 0;
}

.Klast-navbar .nav-link i {
    margin-right: 8px;
}

.Klast-navbar .nav-link .icon.ion-ios-analytics-outline {
    font-size: 20px;
    margin-top: -2px;
}

.Klast-navbar .nav-link:hover,
.Klast-navbar .nav-link:focus {
    color: #3F51B5;
}

.Klast-navbar .nav-link.active {
    color: #736cc7;
    font-weight: 600;
    border-bottom: 1px solid;
}

.Klast-navbar .nav-link .square-8 {
    margin-left: 3px;
    background-color: #fff;
    border-radius: 100%;
}

@media (min-width: 992px) {
    .Klast-navbar .nav-link .square-8 {
        margin-left: 5px;
    }
}

@media (min-width: 992px) {
    .Klast-navbar .nav-link span :not(.square-8) {
        display: block;
    }
}

@media (max-width: 992px) {
    .Klast-navbar .nav-link span :not(.square-8) {
        display: block;
    }
    .Klast-navbar .nav-link {
        width: 100%;
        text-align: left;
        display: block;
    }
    .Klast-navbar .nav-item {
        min-width: 100%;
    }
    .Klast-navbar.collapse.show {
        display: block;
    }
    .Klast-navbar {
        display: none;
    }
    .Klast-navbar .mega-dropdown .sub-item .section-label {
        margin-top: 10px;
    }
    .Klast-navbar .sub-item .sub-with-sub ul li a {
        padding-left: 20px;
    }
    .Klast-navbar .nav .nav-item.with-sub .nav-link.active {
        position: relative !important;
    }
    .Klast-navbar .nav .nav-link .sub-item {
        position: inherit !important;
    }
    .Klast-navbar .container {
        background: #fff;
        z-index: 100;
    }
    .Klast-navbar .sub-item {
        position: relative !important;
        top: 0 !important;
    }
    .nav-item.with-sub .sub-item {
        border-top: 2px solid #736cc7;
    }
    .with-sub .nav-link,
    .nav-item.with-sub {
        display: block !important;
    }
    .about-con {
        border-bottom: 1px solid #d7e7ff;
    }
}

.Klast-navbar .mega-dropdown {
    position: static;
}

.Klast-navbar .mega-dropdown .sub-item {
    padding: 25px;
    width: 100%;
}

.Klast-navbar .mega-dropdown .sub-item a {
    padding: 5px 9px;
    margin: 0;
}

.Klast-navbar .mega-dropdown .sub-item .section-label {
    color: #736cc7;
    border-bottom: 1px solid rgba(137, 42, 226, 0.1);
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: left;
    letter-spacing: 1px;
}

.Klast-navbar .sub-item {
    background-color: #fff;
    position: absolute;
    top: 51px;
    left: 0;
    border-top: 0;
    padding: 10px 0;
    box-shadow: 0 10px 40px 0 rgba(18, 106, 211, .07), 0 2px 9px 0 rgba(18, 106, 211, .06);
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    z-index: 9999;
    display: none;
    color: #111;
}

@media (min-width: 992px) {
    .Klast-navbar .sub-item {
        width: 200px;
    }
}

@media (max-width: 1279px) and (min-width: 992px) {
    .Klast-navbar .nav-link {
        padding: 1rem 0.57rem;
    }
    .pabout.p-8 {
        padding: 17px !important;
    }
}

.Klast-navbar .sub-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.Klast-navbar .sub-item ul a {
    display: block;
    padding: 0.5rem 1.5rem;
    color: #5e7cac;
}

.Klast-navbar .sub-item ul a:active {
    color: #fff;
    text-decoration: none;
    background-color: #736cc7;
}

.Klast-navbar .sub-item ul a:hover,
.Klast-navbar .sub-item ul a:focus {
    color: #736cc7;
    text-decoration: none;
    background-color: #f5f7fb;
}

.Klast-navbar .sub-item .sub-with-sub {
    position: relative;
}

.Klast-navbar .sub-item .sub-with-sub::after {
    content: '\f054';
    font-family: "FontAwesome";
    font-size: 10px;
    position: absolute;
    top: 9px;
    right: 20px;
    color: #5e7cac;
}

.Klast-navbar .sub-item .sub-with-sub ul {
    display: none;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .Klast-navbar .sub-item .sub-with-sub ul {
        padding-left: 0;
        position: absolute;
        top: 0;
        right: -200px;
        width: 200px;
        background-color: #fff;
        padding: 10px 0;
        box-shadow: 0 10px 40px 0 rgba(18, 106, 211, .07), 0 2px 9px 0 rgba(18, 106, 211, .06);
    }
}

.Klast-navbar .sub-item .sub-with-sub ul a {
    display: block;
    padding: 6px 10px;
}

.Klast-navbar .sub-item .sub-with-sub:hover ul,
.Klast-navbar .sub-item .sub-with-sub:focus ul {
    display: block;
}
span {
    // font-weight: bold;
}
.header-toggler {
    width: 2rem;
    height: 2rem;
    position: relative;
    color: linear-gradient(to left, #4CAF50, #1643a3);;
}

.header-toggler:hover {
    color: linear-gradient(to left, #4CAF50, #1643a3);
}

.header-toggler-icon {
    position: absolute;
    width: 1rem;
    height: 2px;
    color: inherit;
    background: currentColor;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -.5rem;
    box-shadow: 0 5px currentColor, 0 -5px currentColor;
}

@media (max-width: 1279px) and (min-width:992px) {
    .nav-tabs .nav-link {
        padding: 1rem 0.95rem;
        font-size: 13px;
    }
}

@media (max-width: 990px) {
.header-toggler {
    margin: 6px;
}
}
