<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
  <mdb-icon fas icon="bars" style="font-size: 20px; margin: 10px; color:#235E8E"></mdb-icon>
</a> 
<div class="Klast-navbar" id="headerMenuCollapse">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/TruVisit/staff"><i class="fe fe-home"></i><span>Staff Portal</span></a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/TruVisit/receptionist"><i class="fe fe-home"></i><span>Receptionist Portal</span></a>
        </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/TruVisit/admin/dashboard"
          routerLinkActive="active-link"
        >
          <i class="ti ti-home"></i>
          <span> Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/TruVisit/admin/visitor-log"
          routerLinkActive="active-link"
          ><i class="ti ti-face-smile"></i><span>Visitor Log</span></a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/TruVisit/admin/view-non-compliance"
          routerLinkActive="active-link"
          ><i class="ti ti-notepad"></i><span>Non Compliance Report</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/TruVisit/admin/manageusers/viewadmins"
          routerLinkActive="active-link"
          ><i uk-icon="users"></i><span>Manage Users</span></a
        >
      </li>
    </ul>
  </div>
</div>
