/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato|Muli');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
// regular style toast 
@import '~ngx-toastr/toastr.css';
// bootstrap style toast 
// or import a bootstrap 4 alert styled design (SASS ONLY) 
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions 
@import '~ngx-toastr/toastr-bs4-alert';
// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
html,
body {
    font-family: 'Lato';
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

table {
    width: 100%;
}

.padding-left {
    padding-left: 1%;
}

.filter {
    font-size: 14px;
    width: 100%;
}

// .alertsContainer .alertsRow.success  {
//     border: 1px solid #ffc549;
//     background-color: #000;
// }
// .alertsContainer .alertsRow.success .iconpanel {
//     background:#ffc549;
//     color: #fff;
// }
// .alertsContainer .alertsRow.success .messagepanel {
//     color: #000;
//     background: blue;
// }
// .alertsContainer .alertsRow.<Alert Type> .closeicon {
//     color: #000;
// }
// .alertsContainer .alertsRow.<Alert Type> .closeicon a {
//     color: #000;
//     text-decoration: none;
//     font-size: 12px;
// }
body {
    margin: 0;
    font-family: 'poppins', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #5e7cac !important;
    text-align: left;
    background-color: #f0f6ff;
}

// }
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);