<div class="container">
  <div class="links">
    <a routerLink="/admin/manage">
      <span class="link-item apps">Apps</span>
    </a>
    <a routerLink="/admin/categories">
      <span class="link-item categories">Category</span>
    </a>
    <a routerLink="/admin/users">
      <span class="link-item users">Users</span>
    </a>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="uk-card uk-card-default uk-card-body uk-overflow-auto">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Staff Name</th>
              <th class="th-sm">Staff I.D</th>
              <th class="th-sm">Satff Email</th>
              <th class="th-sm">Staff Role</th>
              <!-- <th class="th-sm">Role Id</th> -->
              <th class="th-sm">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.StaffName}}</td>
              <td>{{ user.StaffId }}</td>
              <td>{{ user.StaffEmail}}</td>
              <td>{{ user.RoleName }}</td>
              <!-- <td>{{ user.RoleId }}</td> -->
              <td>
                <a mdbTooltip ="Remove this staff from role" uk-icon="close" style="color:red" (click)="removeUserRoleModal.show(); getDetails(user.StaffName, user.StaffId, user.StaffEmail, user.RoleId)"></a>
                <a mdbTooltip="Edit staff role" uk-icon="file-edit" (click)="editStaffRoleModal.show(); setFormData(user.StaffId, user.StaffEmail, user.StaffName)"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-loader [isLoading] = "loading" ></app-loader>

<!--Remove User role Modal-->
<div mdbModal #removeUserRoleModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="removeUserRoleModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Delete Staff Role</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this staff from this role?</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="removeUserRoleModal.hide()">I
          changed my mind</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="deleteRole(); removeUserRoleModal.hide()"> Sure</i></button>
      </div>
    </div>
  </div>
</div>

<!--Edit Staff Role-->
<div mdbModal #editStaffRoleModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editStaffRoleModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Change Staff Role</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editStaffRoleForm">
          <!--Staff Name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="staff-name">Staff Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="staff-name" type="text" disabled placeholder="" formControlName="StaffName">
            </div>
          </div>
          <!--Staff Id-->
          <div class="uk-margin">
            <label class="uk-form-label" for="staff-id">Staff Id</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="staff-id" type="text" disabled placeholder="" formControlName="StaffId">
            </div>
          </div>
          <!--Staff Email-->
          <div class="uk-margin">
            <label class="uk-form-label" for="staff-email">Staff Email</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="staff-email" type="text" disabled placeholder="" formControlName="StaffEmail">
            </div>
          </div>
          <!--App name-->
          <div class="uk-margin">
            <label class="uk-form-label" for="app-name">Application name</label>
            <div class="uk-form-controls">
              <select class="uk-select" (change)='change($event.target.value)' required formControlName="application">
                <option>---Select---</option>
                <option *ngFor="let app of applications" [ngClass]="{'formInvalid':editStaffRoleForm.controls['application'].invalid && editStaffRoleForm.controls['application'].touched }">
                  {{ app.name }}</option>
              </select>
            </div>
            <span *ngIf="editStaffRoleForm.controls['application'].touched && editStaffRoleForm.controls['application'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Application name cannot be empty</span>
          </div>
           <!--Role-->
           <div class="uk-margin">
            <label class="uk-form-label" for="role">Role</label>
            <div class="uk-form-controls">
              <select class="uk-select" (change)='pickId($event.target.value)' required formControlName="Role">
                <option>---Select---</option>
                <option *ngFor="let role of appRoles" [ngClass]="{'formInvalid':editStaffRoleForm.controls['Role'].invalid && editStaffRoleForm.controls['Role'].touched }">
                  {{ role.RoleName }}</option>
              </select>
            </div>
            <span *ngIf="editStaffRoleForm.controls['Role'].touched && editStaffRoleForm.controls['Role'].invalid"
              [ngStyle]="{'color':'#dd1616', 'font-style':'italic'}">*Role name cannot be empty</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light cancel" mdbWavesEffect (click)="editStaffRoleModal.hide()">Cancel</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light goOn" id="goOn" mdbWavesEffect><i
            class="fa fa-thumbs-o-up" aria-hidden="true" (click)="changeStaffRole(editStaffRoleForm.value); editStaffRoleModal.hide()">
            Proceed</i></button>
      </div>
    </div>
  </div>
</div>
