<div class="my-3 my-md-5">

  <div class="container">

    <ng-container *ngIf="!errorMessage; then VisitorLogTemplate; else ErrorTemplate"></ng-container>
    <ng-template #VisitorLogTemplate>
      

       <!-- Form Starts Here -->
    <ng-container>
        <form [formGroup]="createSearchForm" >
             
            <!-- StartDate Field -->
            <mat-form-field class="padding-left">
                <input matInput [matDatepicker]="dp" (focus)= "dp.open()" placeholder="Date From" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <!-- EndDate Field -->
             <mat-form-field class="padding-left">
              <input matInput [matDatepicker]="db" (focus)= "db.open()" placeholder="Date To" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="db"></mat-datepicker-toggle>
              <mat-datepicker #db></mat-datepicker>
            </mat-form-field>
  
          <!-- Display Length Field -->
          <mat-form-field class="padding-left">
            <input type="number" matInput placeholder="displayLength" min="1" value="5" formControlName="displayLength">
          </mat-form-field>
          <button style="margin-left: 20%" (click) = "submitVisitorLog()" [disabled]="!createSearchForm.valid" mat-stroked-button color='primary'>Show</button>
        </form>      
        
      </ng-container>
      <!-- Form Ends Here -->

       <!-- Filter current display data starts here -->
     <mat-form-field class="filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    <!-- Filter ends here -->
    <mat-card><strong>Visitor Log</strong></mat-card>
    <div class="mat-elevation-z8">
      <table mat-table class="text-center" [dataSource]="dataSource">
         
        <!-- Position Column -->
        <ng-container matColumnDef="picture">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Picture </th>
          <td mat-cell *matCellDef="let element">
            <img src="{{element.picture}}" class='img-responsive img-rounded' height=100 alt="No Image" style="height: 40px;
            margin: auto;">
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="visitorName">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.visitorName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Company </th>
          <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

         <!-- Position Column -->
         <ng-container matColumnDef="purpose" >
            <th mat-header-cell class="text-center" *matHeaderCellDef> Purpose </th>
            <td mat-cell *matCellDef="let element">
               <mat-chip-list *ngIf='element.purpose == 1' style="margin-left: 15px;">
                  <!-- <mat-chip color="accent" selected>Personal</mat-chip> -->
                  <span class="badge badge-pill badge-success">Personal</span>
                </mat-chip-list>
                <mat-chip-list *ngIf='element.purpose == 2' style="margin-left: 15px;">
                  <!-- <mat-chip color="primary" selected>Official</mat-chip> -->
                  <span class="badge badge-pill badge-primary">Official</span>
                </mat-chip-list>
                <mat-chip-list *ngIf='element.purpose == 3' style="margin-left: 15px;">
                  <!-- <mat-chip color="info" selected>Other</mat-chip> -->
                  <span class="badge badge-pill badge-secondary">Other</span>
                </mat-chip-list>
               </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="signedIn">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Signed In </th>
            <td mat-cell *matCellDef="let element"> {{element.signedIn | date : 'medium'}} </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="signedOut">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Signed Out </th>
            <td mat-cell *matCellDef="let element"> {{element.signedOut | date : 'medium'}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      <app-loader [isLoading]="loading"></app-loader>
    </div>


    </ng-template>
    <ng-template #ErrorTemplate>
        <app-error [errorMessage]="errorMessage"></app-error>
    </ng-template>
    
   
   
  </div>
</div>
