.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    h4.page-title {
        font-weight: lighter;
        font-size: 0.95rem;
        cursor: pointer;
        &:hover {
            color: #0f1723 !important;
        }
    }
}
.active-link {
    color: #0f1723 !important;
    border-bottom: 1px solid;
}

@media (max-width: 768px) {
    h4.page-title {
        font-weight: lighter;
        font-size: 0.95rem;
        text-align: center;
        margin: 5px;
        cursor: pointer;
        &:hover {
            color: #0f1723 !important;
        }
    }
}