
<div class="page" id="top">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class='sub-header'>
          <div class="page-header">
            <h4 class="page-title" [routerLink]="['/admin/manageusers/viewadmins']" routerLinkActive="active-link">View Admins</h4>
          </div>
          <div class="page-header">
            <h4 class="page-title" [routerLink]="['/admin/manageusers/viewreceptionists']" routerLinkActive="active-link">View receptionists</h4>
          </div>
          <!-- <div class="page-header">
            <h4 class="page-title" [routerLink]="['/admin/manageusers/manageadmins']" routerLinkActive="active-link">Manage users</h4>
          </div> -->
          <!-- <div class="page-header">
            <h4 class="page-title" [routerLink]="['/admin/manageusers/managereceptionists']">Manage receptionists</h4>
          </div> -->
        </div>
        
        <div class="row row-cards">
          <div class='col-lg-12'>
            <router-outlet></router-outlet>
          </div>
        </div>

          <!-- end of cards  -->


        <div class="row row-cards row-deck">

          <!-- recent visitors list -->
          <div class="col-md-12 col-lg-12">
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Back to top -->
<!-- <a href="" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a> -->